.zoom-light {
	display: none;
	background:rgba(0,0,0,.85); 
	position: absolute;
	z-index: 99999999;
	height: 100%;
	width: 100%;
	cursor:pointer;
	@include transitions;
	.zoom-layout{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding-bottom: 90px;
		div {
			list-style-type:none; 
			span {
				float:left;
				width: 100%;
				@include transitions;
				/* @media all and (min-width: 560px) {
					width: 50%;
				} */
				@media all and (min-width: 768px) {
					width: 33%;
				}
				/* @media all and (min-width: 1260px) {
					width:25%;
				} */
				
				a {
					display: block;
					margin:15px;
					overflow: hidden;
					 &:hover {
					 	@include transitions;
					 	-webkit-transform: scale(1.1);
						-moz-transform:    scale(1.1);
						-ms-transform:     scale(1.1);
						-o-transform:      scale(1.1);
						transform:         scale(1.1);
					 }
					img {
						@include transitions;
						width: 100%;
						height:200px;
						@media all and (min-width: 560px) {
							height:250px;
						}
						@media all and (min-width: 768px) {
							height: 250px;
						}
						@media all and (min-width: 1260px) {	
							height:350px;
						}
					}

				}
			}
		}
	}			
}
.subscribe-form-block {
	display: none;
	background:rgba(0,0,0,.85); 
	position: absolute;
	z-index: 99999;
	height: 100%;
	width: 100%;
	cursor:pointer;
	@include transitions;
	color:#fff;
	.subscribe-form-wrapper {
		padding:15px 15px 50px;
		background:rgba(0,0,0,.95); 
		display: block;
		margin:0 auto;
		width:90%;
		max-width: 500px;
		margin-top: 20%;
		position: relative;
		&:after {
			position: absolute;
			z-index: 9999999999;
			top:-15px;
			right:-15px;
			content:"x";
			display: block;
			background:#fff;
			color:#000;
			padding: 0px 8px 3px;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
			font-size: 25px;
		}
		form {
			padding: 10px;
			margin:0 auto;
			.subscribe-input {
				margin:0 auto;
				display: block;
				margin-bottom: 20px;
				width:100%;
				max-width: 300px;
				padding:5px;
				font-size: 13px;
				@media all and (min-width: 420px) {
					padding:10px;
				}
			}
			.subscribe-submit {
				float:right;
				text-transform:uppercase;
				-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
				-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
				box-shadow:inset 0px 0px 0px 0px #ffffff;
				background-color:#ededed;
				border:1px solid #dcdcdc;
				display:inline-block;
				cursor:pointer;
				color:#777777;
				font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
				font-size:13px;
				font-weight:bold;
				padding:5px 14px;
				text-decoration:none;
				text-shadow:0px 0px 0px #ffffff;
				-webkit-border-radius:6px;
				-moz-border-radius:6px;
				border-radius:6px;
				@media all and (min-width: 420px) {
					padding:10px 14px;
				}
				&:hover {
					background-color:#dfdfdf;
				}
				&:active {
					position:relative;
					top:1px;
				}
			}
		}
	}
}
