/*-------------------------------------------    
	Slit Slider Specific
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;

}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}



/*-------------------------------------------    
	Custom Style Sheet
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/


.sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.nav-arrows {

}
.nav-arrows > div{
	position: absolute;
	display: block;
	z-index: 2000;
	cursor: pointer;
	@media all and (min-width: 420px) {
	}
}

.nav-arrows:hover {
	border-color: rgba(150,150,150,0.9);
}
.prev-title {
	display: none;
	margin:-15px 0 0 15px;
	p {
		color:#fff;
		font-size: 26px;
		margin:0;
		margin-left: 15px;
		line-height: 24px;
	}
	p + p {
		margin-left: 0px;
	}
}
.next-title {
	display: none;
	position: absolute;
	right: 0;
	top:-10px;
	p {
		line-height: 24px;
		color:#fff;
		font-size: 26px;
		margin:0 40px 0 0;
	}
	p + p {
		display: inline-block;
		margin:0 0 0 0;
	}
}
.nav-arrows .nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
	position: absolute;
	top:75%;
	text-align: left;
	@media all and (min-width: 420px) {
		left:30px;
		top:20%;
	}
	&:before {
		content: "";
		display: block;
		width:30px;
		height:30px;
		position: absolute;
		top:-15px;
		left:2px;
		border-left: 2px solid #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		@media all and (min-width: 420px) {
			width: 60px;
			height: 60px;
		}
	}
	&:after {
		content: "";
		display: block;
		width: 30px;
		height:30px;
		position: absolute;
		top:-15px;
		left:2px;
		border-left: 2px solid #fff;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		@media all and (min-width: 420px) {
			width: 60px;
			height: 60px;
			top:-15px;
			left:2px;
		}
	}
	
}


.nav-arrows .nav-arrow-next {
	left: 94%;
	top:70%;
	border-left: none;
	border-bottom: none;
	text-align: right;
	@media all and (min-width: 1024px) {
		left:97%;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top:10px;
		left:-20px;
		width: 30px;
		height: 30px;
		border-left: 2px solid #fff;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		@media all and (min-width: 420px) {
			width: 60px;
			height: 60px;
			top:-17px;
			left:-38px;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		left:2px;
		top:30px;
		width: 30px;
		height: 30px;
		border-left: 2px solid #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		@media all and (min-width: 420px) {
			width: 60px;
			height: 60px;
			top:25px;
			left:2px;
		}
	}
}

.next-current, .prev-current {
	display: block;
	@include transitions;

	p {
		color:transparent;
	}
	@media all and (min-width: 420px) {
		&:hover p {
			color:#fff;
		}
	}
}
/* Custom navigation dots */
.container {
	.nav-dots {
		text-align: center;
		position: fixed;
		bottom: 60px;
		width: 100%;
		left: 0;
		z-index: 1000;
		background:#000;
		padding:5px 0;
	}

	.nav-dots span {
		display: inline-block;
		float:left;
		position: relative;
		width: 16.666666667%;
		height: 5px;
		background: #ddd;
		background: #21a3ba;
		cursor: pointer;
		opacity: .25;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-right:2px solid #000; 
	}
	.nav-dots span:nth-of-type(2) {
		background:#753d78 ;
	}
	.nav-dots span:nth-of-type(3) {
		background:#ebb231;
	}
	 .nav-dots span:nth-of-type(4) {
		background:yellow;
	}
	.nav-dots span:nth-of-type(5) {
		background: blue;
	}
	.nav-dots span:nth-of-type(6) {
		background: orange;
	}

	.nav-dots span.nav-dot-current {
		opacity: 1;
		vertical-align: bottom;
		margin-top: -3px;
		content: "";
		height: 8px;
		-moz-box-shadow:    0px 2px 6px -2px #ccc;
		-webkit-box-shadow: 0px 2px 6px -2px #ccc;
		box-shadow:         0px 2px 6px -2px #ccc;
	}
}


/* Animations for content elements */

.sl-trans-elems .deco{
	/*-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;*/
}