/*-------------------------------------------    
	Slit Slider Specific
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/

.sl-slider {
	position: absolute;
	overflow: hidden;

}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1) ease-in ;
	-moz-transform: translateY(0%) scale(1) ease-in;
	-o-transform: translateY(0%) scale(1) ease-in;
	-ms-transform: translateY(0%) scale(1) ease-in;
	transform: translateY(0%) scale(1) ease-in;
	-webkit-transition-delay: .8s !important;
	-moz-transition-delay: .8s !important;
	-o-transition-delay: .8s !important;
	-ms-transition-delay: .8s !important;
	transition-delay: .8s !important;
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1) ease-in;
	-moz-transform: translateX(0%) scale(1) ease-in;
	-o-transform: translateX(0%) scale(1) ease-in;
	-ms-transform: translateX(0%) scale(1) ease-in;
	transform: translateX(0%) scale(1) ease-in;
	-webkit-transition-delay: .8s !important;
	-moz-transition-delay: .8s !important;
	-o-transition-delay: .8s !important;
	-ms-transition-delay: .8s !important;
	transition-delay: .8s !important;
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
	width: 120%;
	height: 120%;
	overflow: visible;
}

.sl-content {
	width: 120%;
	height: 120%;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
	-webkit-transition-delay: .8s !important;
	-moz-transition-delay: .8s !important;
	-o-transition-delay: .8s !important;
	-ms-transition-delay: .8s !important;
	transition-delay: .8s !important;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}



/*-------------------------------------------    
	Custom Style Sheet
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/


.sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.nav-arrows {

}
.nav-arrows > div{
	position: absolute;
	display: block;
	z-index: 2000;
	cursor: pointer;
	@media all and (min-width: 560px) {
	}
}

.nav-arrows:hover {
	border-color: rgba(150,150,150,0.9);
}


.nav-arrows .nav-arrow-prev {
	position: absolute;
	left: 15px;
	bottom:90px;
	text-align: left;
	width:60px;
	height:50px;
	opacity: .5;
	@media all and (min-width: 768px) {
		width:200px;
		height:70px;
		left:15px;
		top:15%;
	}
	&:hover {
		opacity: .8;
	}
	&:before {
		content: "";
		display: block;
		height:30px;
		position: absolute;
		border-left: 3px solid #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		@media all and (min-width: 768px) {
			height: 40px;
			left:16px;
		}
	}
	&:after {
		content: "";
		display: block;
		width: 30px;
		height:30px;
		position: absolute;
		top:10px;
		left:-4px;
		border-left: 3px solid #fff;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		@media all and (min-width: 768px) {
			height: 40px;
			top:16px;
			left:11px;
		}
	}
	@media all and (min-width: 768px) {
		&:hover {
			.prev-current {
				display: block;
			}
		}
	}
	.prev-title {
		display: none;
		position: relative;
			left: 24px;
			top: 8px;
		p {
			font-size: 22px;
			margin:0;
			margin-left: 25px;
			line-height: 20px;
		}
		p + p {
			margin-left: 0px;
		}
	}
	.prev-current {
		@media all and (min-width: 768px) {
			display: block;
		}
		p{
			color:#fff;

		}
	}
	
}


.nav-arrows .nav-arrow-next {
	right:15px;
	bottom:90px;
	border-left: none;
	border-bottom: none;
	text-align: right;
	width: 60px;
	height: 50px;
	opacity: .5;
	@media all and (min-width: 768px) {
		bottom:15%;
		right:15px;
		width: 200px;
		height: 70px;
	}
	&:hover {
		opacity: .8;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		right:0;
		height: 30px;
		border-left: 3px solid #fff;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		@media all and (min-width: 768px) {
			height: 40px;
			right:20px;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right:0;
		height: 30px;
		border-left: 3px solid #fff;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top:19px;
		@media all and (min-width: 768px) {
			height: 40px;
			right: 20px;
			top:26px;
		}
	}
	
	.next-title {
		display: none;
		position: absolute;
		right: 30px;
		top: 10px;
		p {
			line-height: 20px;
			font-size: 22px;
			margin:0 40px 0 0;
		}
		p + p {
			display: inline-block;
			margin:0 0 0 0;
		}
	}
	.next-current {
		@media all and (min-width: 768px) {
			display: block;
		}
		p{
			color:#fff;

		}
	}

}

.next-current, .prev-current {
	display: block;
	@include transitions;
}

/* Custom navigation dots */
.container {
	.nav-dots {
		text-align: center;
		position: fixed;
		bottom: 46px;
		width: 100%;
		left: 0;
		z-index: 1000;
		background:#000;
		padding:5px 0;
		@media all and (min-width: 560px) {
			bottom: 60px;
		}
	}

	.nav-dots span {
		display: inline-block;
		float:left;
		position: relative;
		width: 33.33%;
		height: 5px;
		background:#753d78;
		cursor: pointer;
		opacity: .25;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-right:2px solid #000; 
	}
	.nav-dots span:nth-of-type(2) {
		background:#ebb231;
	}
	.nav-dots span:nth-of-type(3) {
		background: #21a3ba;
	}
	 .nav-dots span:nth-of-type(4) {
		background:yellow;
	}
	.nav-dots span:nth-of-type(5) {
		background: blue;
	}
	.nav-dots span:nth-of-type(6) {
		background: orange;
	}

	.nav-dots span.nav-dot-current {
		opacity: 1;
		vertical-align: bottom;
		margin-top: -3px;
		content: "";
		height: 8px;
		-moz-box-shadow:    0px 2px 6px -2px #ccc;
		-webkit-box-shadow: 0px 2px 6px -2px #ccc;
		box-shadow:         0px 2px 6px -2px #ccc;
	}
}


/* Animations for content elements */

.sl-trans-elems .deco{
	/*-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;*/
}