/*
*************************************************

AmerisourceBergen
General Screen Styles

Created by the Greg Sarault via Bluecadet
www.bluecadet.com

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/
@font-face {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  src: url('../css/fonts/rock.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('../css/fonts/rockwell.otf')  format('opentype'); /* Safari, Android, iOS */
  src: url('../css/fonts/rockwell.eot')  format('opentype'); /* Safari, Android, iOS */
}


/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; background:#000;}



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;} /* for rems */
body { font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif; color: #333; vertical-align: baseline;}


/* block level */

h1, .h1 { font: bold 3.8em Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 1.8em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3, .h3 { font: bold 1.5em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; letter-spacing: 1px; }

ul { padding-left: 20px;}

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; }
a:hover, a:focus { color: red; }

img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }



/*-------------------------------------------    
    Mixins
-------------------------------------------*/
@mixin transitions {
	-webkit-transition: all .8s ease-out;
  	-moz-transition: all .8s ease-out;
  	-o-transition: all .8s ease-out;
  	transition: all .8s ease-out;
}

/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/*-------------------------------------------    
	Modules
-------------------------------------------*/

.moveup{
	@media all and (min-width: 420px) {
		-webkit-animation: moveUp .2s ease-in;
		-moz-animation: moveUp .2s ease-in both;
		-o-animation: moveUp .2s ease-in both;
		-ms-animation: moveUp .2s ease-in both;
		animation: moveUp .2s ease-in both;
	}
}
.scale-up {
	-webkit-animation: scaleUp .8s ease-in both;
	-moz-animation: scaleUp .8s ease-in both;
	-o-animation: scaleUp .8s ease-in both;
	-ms-animation: scaleUp .8s ease-in both;
	animation: scaleUp .8s ease-in both;
}
.scale-down {
	-webkit-animation: scaleDown 1s ease-in both;
	-moz-animation: scaleDown 1s ease-in both;
	-o-animation: scaleDown 1s ease-in both;
	-ms-animation: scaleDown 1s ease-in both;
	animation: scaleDown 1s ease-in both;
}


/*-------------------------------------------    
	Page
-------------------------------------------*/


.container {
	background: #000;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}


.sl-slide {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
	/* Landscape */
	@media screen and (orientation:landscape) {
	   -webkit-transform: rotate(7deg);
		-moz-transform: rotate(7deg);
		-o-transform: rotate(7deg);
		-ms-transform: rotate(7deg);
		transform: rotate(7deg);
	}
	.sl-content-wrapper {
		.sl-content {
			position: relative;
		}

	} 
	.content-wrapper {
		top:11%;
		left: 0;
		height: 400px;
		position: relative;
		overflow: auto;
		width: 68%;
		z-index: 1;
		-webkit-transform: rotate(-7deg);
		-moz-transform: rotate(-7deg);
		-o-transform: rotate(-7deg);
		-ms-transform: rotate(-7deg);
		transform: rotate(-7deg);
		@media all and (min-width: 420px) {
			top:9%;
			width: 70%;
			max-width: 650px;
		}
		@media all and (min-width: 768px) {
			width: 45%;
			top:25%;
			left:10%;
		}
		@media only screen and (orientation : landscape) and (max-device-width : 480px) {
			height: 150px;
		}
		/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			height:auto;
		} */


		.button-wrapper{
			height: 220px;
			overflow: auto;
			padding-left: 20px;
			@media all and (min-width: 420px) {
				height: auto;
				overflow: hidden;
			}
			position: relative;	
			.content {
				text-align: left;
				position: relative;
				padding-bottom: 45px;	
				h1 {
					text-align: left;
					font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 19px;
					font-size: 1.9em;
					margin:0;
					-webkit-text-stroke: 0.1px;
					@media all and (min-width: 420px) {
						margin-bottom: 8px;
						font-size: 28px;
						font-size: 2.8em;
					}
					@media all and (min-width: 768px) {
						font-size: 36px;
						font-size: 3.6em;
					}
					@media all and (min-width: 960px) {
						font-size: 50px;
						font-size: 5em;
					}
				}
				p {
					font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 16px;
					font-size: 1.6em;
					line-height: 16px;
					letter-spacing: 0;
					margin:0;
					margin-bottom: 10px;
					-webkit-text-stroke: 0.1px;
					@media all and (min-width: 420px) {
						margin-bottom: 18px;
						font-size: 18px;
						font-size: 1.8em;
						line-height: 20px;
					}
					@media all and (min-width: 768px) {
						font-size: 20px;
						font-size: 2em;
						line-height: 30px;
					}
				}
				.expand p {
					letter-spacing: 0;
					font-family:Arial, Helvetica, sans-serif;
					font-size: 15px;
					font-size: 1.5em;
					line-height: 17px;
					@media all and (min-width: 768px) {
						width: 90%;	
						font-size: 18px;
						font-size: 1.8em;
						line-height: 24px;
					}
				}
			}
		}

	}
	.b-border {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		border-bottom: 1px solid #fff;
		@media screen and (orientation:landscape) {
			height: 45%;
			height: 100%;
			max-height: 400px;
		}
	}
	.more {
		display:block;
		position: relative;
		border-top: 1px solid #fff;
		width: 100%;
		bottom:45px;
		a {
			display: inline-block;
			color:#fff;
			font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
			font-weight: 400;
			font-size: 20px;
			font-size: 2em;
			&:after {
				content:"";
				position: absolute;
				display: block;
				background:transparent url(../images/circle-arrow-down.png)no-repeat 0 0;
				background-size: 100%;
				width:35px;
				height:35px;
				margin-left: 30px;
				margin-top: 10px;
			}	
		}
	}
	a.next {
		font-size: 18px;
		color:#fff;
	}
	.gate {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top:-8.05%;
		left:-8.5%;
		margin:0;
		padding:0;
		z-index: 1;
		overflow: hidden;
		@media screen and (orientation:portrait) {
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
			width: 165%;
			left:-40%;
		}
		img {
			-webkit-transform: rotate(-7deg);
			-moz-transform: rotate(-7deg);
			-o-transform: rotate(-7deg);
			-ms-transform: rotate(-7deg);
			transform: rotate(-7deg); 
		}
		.top-gate-wrapper{
			position: relative;
			width: 100%;
			height: 50%;
			margin:0;
			padding:0;
			overflow: hidden;
			box-shadow: 0px 0px 4px 0px #000;
			@media all and (min-width: 420px) {

				width: 100%;
				margin-top: 0;
				margin-left: 0;
			}
			&:after {
				content:"";
				display: block;
				position: absolute;
				overflow: hidden;
				height:100%;
				width:100%;
				top:0;
				left:0;
			  	background: #000;
			  	opacity: .2;
			  	z-index: 1;
			}
			.top-gate {
				width: 100%;
				height:auto;
				max-width: none;
				position: relative;
				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(80deg);
					-moz-transform: rotate(80deg);
					-o-transform: rotate(80deg);
					-ms-transform: rotate(80deg);
					transform: rotate(80deg);
					width: 100%;
					height:200%;
				}
			}
			p {
				position: absolute;
				font-size: 40px;
				color: white;
				margin:0;
				bottom: -9px;
				text-transform: uppercase;
				opacity: 0.8;
				display: block;
				width: 100%;
				text-align: center;
				font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				z-index: 2;
				@media all and (min-width: 420px) {
					font-size: 50px;
					bottom:-11px;
				}
				@media all and (min-width: 560px) {
					font-size: 80px;
					bottom:-18px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					bottom:-20px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					bottom:-30px;
				}
			}
		}
		.bottom-gate-wrapper {
			position: relative;
			width:100%;
			height: 50%;
			margin:0;
			padding:0;
			overflow: hidden;
			box-shadow: 0px 0px 4px 0px #000;
			@media all and (min-width: 420px) {
				margin-left: 0;
			}
			&:after {
				content:"";
				display: block;
				position: absolute;
				overflow: hidden;
				height:100%;
				width:100%;
				top:0;
				left:0;
			  	background: #000;
			  	opacity: .2;
			  	z-index: 1;
			}
			
			.bottom-gate {
				width: 100%;
				height: auto;
				max-width: none;
				position: relative;
				top:-20%;
				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(80deg);
					-moz-transform: rotate(80deg);
					-o-transform: rotate(80deg);
					-ms-transform: rotate(80deg);
					transform: rotate(80deg);
					width: 100%;
					height: 200%;
				} 
			}	
			p {
				position: absolute;
				font-size: 40px;
				color: white;
				top: -9px;
				margin:0;
				text-transform: uppercase;
				opacity: 0.8;
				display: block;
				width: 100%;
				text-align: center;
				-webkit-transform: rotateX(-180deg);
				-moz-transform: rotateX(-180deg);
				-ms-transform: rotateX(-180deg);
				transform: rotateX(-180deg);
				font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				z-index: 2;
				@media all and (min-width: 420px) {
					font-size: 50px;
					top:-11px;
				}
				@media all and (min-width: 560px) {
					font-size: 80px;
					top:-18px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					top:-20px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					top:-30px;
				}
			}
		}
	}
}

/*-------------------------------------------    
	IMAGES FOR EACH SLIDE
-------------------------------------------*/
#horsepower-brainpower {
	.sl-content{
	}
	.content {
		h1 {
			color:#81c2ff;
		}
		p {
			color:#81c2ff;
		}
		li {
			color:#81c2ff;
		}
	}
	.gate .top-gate-wrapper .top-gate {
		top:-50%;
	}
}
#hindsight-foresight {
	.gate .top-gate-wrapper .top-gate {
		top:-50%;
	}
	.sl-content {
	}
	.content {
		color:#445b0d;
		h1 {
			color:#445b0d;
		}
		p {
			color:#445b0d;
		}
		li {
			color:#445b0d;
		}
	}
}
#computers-compassion {
	.sl-content {
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}
#slice4 {
	.sl-content {
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}
#slice5 {
	.sl-content {
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
		li {
			color:#cdfc94;
		}
	}
}
#slice6 {
	.sl-content {
		/* &:after {
			content:"";
			display: block;
			position: absolute;
			overflow: hidden;
			height:100%;
			width:100%;
			top:0;
			left:0;
			/* fallback 
		  	background-color: transparent;
		  	background-repeat: repeat-x;
		  	/* Safari 4-5, Chrome 1-9 
		  	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
		  	/* Safari 5.1, Chrome 10+ 
		  	background: -webkit-linear-gradient(top, #008BB0, #00746D);
		  	/* Firefox 3.6+ 
		  	background: -moz-linear-gradient(top, #008BB0, #00746D);
		  	/* IE 10 
		  	background: -ms-linear-gradient(top, #008BB0, #00746D);
		  	/* Opera 11.10+ 
		  	background: -o-linear-gradient(top, #008BB0, #00746D);
		  	opacity: .8;
		} */
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}




/*-------------------------------------------    
	Footer
-------------------------------------------*/
.footer {
	position: fixed;
	bottom:0;
	z-index: 9;
	width: 100%;
	.f-wrapper {
		overflow: hidden;
		background:#000;
		width: 80%;
		padding:3px 0;
		float: left;
		border-right: 2px solid transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@media all and (min-width: 560px) {
			width:86%;
			padding:15px 0;
		}
		@media all and (min-width: 1024px) {
			width: 92%;
		}
		.footer-logo {
			display: block;			
			float: left;
			img {
				margin:0;
				padding-left:10px;
				max-width: 140px;
				@media all and (min-width: 420px) {
					padding-left:50px; 	
				}
			}
		}
		.subscribe-block {
			float:right;
			background:transparent url(../images/mailer.png) no-repeat 0 0;
			background-size: 40px;
			cursor:pointer;
			width: 50px;
			height: 40px;
			position: relative;
			top: 5px;
			left:-10px;
			opacity: .8;
			&:hover {
				opacity: .9;
			}
		}
	}
	.cube {
		background: #000;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin:0;
		display: block;
		float:right;
		width: 20%;
		border-left: 2px solid transparent;
		position: relative;
		z-index: 99999999999999;
		@media all and (min-width: 560px) {
			width: 14%;
		}
		@media all and (min-width: 1024px) {
			width: 8%;
		}
		a {
			margin-right: 3px;
			background: url(../images/cube.png)no-repeat center center; 
			background-size: 62px;
			height: 46px;
			display: block;
			opacity: .5;
			@media all and (min-width: 560px) {
				height:70px;
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}