/*
*************************************************

AmerisourceBergen
General Screen Styles

Created by the Greg Sarault via Bluecadet
www.bluecadet.com

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/
@font-face {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  src: url('../css/fonts/rock.ttf')  format('truetype'); /* Safari, Android, iOS */
}


/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; background:#000;}



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; -webkit-font-smoothing: antialiased !important;} /* for rems */
body { font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif; color: #333;}


/* block level */

h1, .h1 { font: bold 3.8em Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 1.8em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3, .h3 { font: bold 1.5em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; }
a:hover, a:focus { color: red; }

img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }



/*-------------------------------------------    
    Mixins
-------------------------------------------*/
@mixin transitions {
	-webkit-transition: all .8s ease-out;
  	-moz-transition: all .8s ease-out;
  	-o-transition: all .8s ease-out;
  	transition: all .8s ease-out;
}

/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/*-------------------------------------------    
	Modules
-------------------------------------------*/

.moveup{
	@media all and (min-width: 420px) {
		-webkit-animation: moveUp .5s ease-in-out both;
		-moz-animation: moveUp .5s ease-in both;
		-o-animation: moveUp .5s ease-in both;
		-ms-animation: moveUp .5s ease-in both;
		animation: moveUp .5s ease-in-out both;
	}
}
.scale-up {
	-webkit-animation: scaleUp .5s ease-in-out both;
	-moz-animation: scaleUp .5s ease-in both;
	-o-animation: scaleUp .5s ease-in both;
	-ms-animation: scaleUp .5s ease-in both;
	animation: scaleUp .5s ease-in-out both;
}
.scale-down {
	-webkit-animation: scaleDown .5s ease-in-out both;
	-moz-animation: scaleDown .5s ease-in both;
	-o-animation: scaleDown .5s ease-in both;
	-ms-animation: scaleDown .5s ease-in both;
	animation: scaleDown .5s ease-in-out both;
}


/*-------------------------------------------    
	Page
-------------------------------------------*/


.container {
	background: #000;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.gate img {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg); 
}
.sl-slide {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
		/* Portrait */
	@media screen and (orientation:portrait) {
		-webkit-transform: rotate(-77deg);
		-moz-transform: rotate(-77deg);
		-o-transform: rotate(-77deg);
		-ms-transform: rotate(-77deg);
		transform: rotate(-77deg);
	}
	/* Landscape */
	@media screen and (orientation:landscape) {
	   -webkit-transform: rotate(7deg);
		-moz-transform: rotate(7deg);
		-o-transform: rotate(7deg);
		-ms-transform: rotate(7deg);
		transform: rotate(7deg);
	}
	.sl-content-wrapper {
		width: 120%;
		height: 120%;
		.sl-content {
			position: relative;
			width: 120%;
			height: 120%;	
			left:-10%;
			top:-10%;
			@media screen and (orientation:portrait) {
				-webkit-transform: rotate(84deg);
				-moz-transform: rotate(84deg);
				-o-transform: rotate(84deg);
				-ms-transform: rotate(84deg);
				transform: rotate(84deg);
			}
		}
		.background {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			-webkit-transform: rotate(-7deg);
			-moz-transform: rotate(-7deg);
			-o-transform: rotate(-7deg);
			-ms-transform: rotate(-7deg);
			transform: rotate(-7deg);
		}
	} 
	.content-wrapper {
		top:12%;
		left: 0%;
		position: relative;
		overflow: auto;
		width: 75%;
		margin:0 auto;
		-webkit-transform: rotate(-7deg);
		-moz-transform: rotate(-7deg);
		-o-transform: rotate(-7deg);
		-ms-transform: rotate(-7deg);
		transform: rotate(-7deg);
		@media all and (min-width: 420px) {
			top:15%;
			width: 70%;
		}
		@media all and (min-width: 768px) {
			width: 60%;
			top:25%;
		}
		.button-wrapper{
			max-width: 850px;
			position: relative;	
			.content {
				position: relative;
				padding-bottom: 85px;
				max-width: 850px;	
				h1 {
					font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 20px;
					font-size: 2em;
					margin:0;
					@media all and (min-width: 420px) {
						margin-bottom: 10px;
						font-size: 28px;
						font-size: 2.8em;
					}
					@media all and (min-width: 768px) {
						font-size: 50px;
						font-size: 5em;
					}
				}
				p {
					font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 17px;
					font-size: 1.7em;
					margin:0;
					margin-bottom: 10px;
					@media all and (min-width: 420px) {
						margin-bottom: 18px;
						font-size: 18px;
						font-size: 1.6em;
						line-height: 20px;
					}
					@media all and (min-width: 768px) {
						font-size: 22px;
						font-size: 2.2em;
						line-height: 24px;
					}
				}
				.expand p {
					font-size: 15px;
					font-size: 1.5em;
					line-height: 17px;
					@media all and (min-width: 768px) {
						width: 90%;	
						font-size: 20px;
						font-size: 2em;
						line-height: 22px;
					}
				}
			}
		}

	}
	.b-border {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		border-bottom: 1px solid #fff;
		height: 54%;
		@media screen and (orientation:landscape) {
			height: 45%;
		}
	}
	.more {
		display:block;
		position: relative;
		border-top: 1px solid #fff;
		width: 100%;
		bottom:45px;
		a {
			display: inline-block;
			color:#fff;
			font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
			font-weight: 400;
			font-size: 20px;
			font-size: 2em;
			&:after {
				content:"";
				position: absolute;
				display: block;
				background:transparent url(../images/circle-arrow-down.png)no-repeat 0 0;
				background-size: 100%;
				width:35px;
				height:35px;
				margin-left: 30px;
				margin-top: 10px;
			}	
		}
	}
	a.next {
		font-size: 18px;
		color:#fff;
	}
	.gate {
		display: block;
		position: absolute;
		width: 120%;
		height: 100%;
		top:0%;
		left:-10%;
		margin:0;
		padding:0;
		z-index: 1;
		@media screen and (orientation:portrait) {
		-webkit-transform: rotate(-77deg);
		-moz-transform: rotate(-77deg);
		-o-transform: rotate(-77deg);
		-ms-transform: rotate(-77deg);
		transform: rotate(-77deg);
		width: 180%;
		left:-40%;
		}
		.top-gate-wrapper{
			position: relative;
			width: 100%;
			height: 50%;
			margin:0;
			padding:0;
			top:0;
			overflow: hidden;
			box-shadow: 0px 0px 4px 0px #000;
			@media all and (min-width: 420px) {

				width: 100%;
				margin-top: 0;
				margin-left: 0;
			}
			.top-gate {
				width: 110%;
				height:120%;
				max-width: none;
				top: 5%;
				position: relative;
				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(70deg);
					-moz-transform: rotate(70deg);
					-o-transform: rotate(70deg);
					-ms-transform: rotate(70deg);
					transform: rotate(70deg);
					width: 100%;
					height:200%;
				}
			}
			p {
				position: absolute;
				font-size: 30px;
				color: white;
				margin:0;
				bottom: -7px;
				text-transform: uppercase;
				opacity: 0.8;
				display: block;
				width: 100%;
				text-align: center;
				font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				@media all and (min-width: 560px) {
					font-size: 50px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					bottom:-20px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					bottom:-30px;
				}
			}
		}
		.bottom-gate-wrapper {
			position: relative;
			width:100%;
			top:0;
			height: 60%;
			margin:0;
			padding:0;
			overflow: hidden;
			box-shadow: 0px 0px 4px 0px #000;
			@media all and (min-width: 420px) {
				width: 100%;
				margin-top: 0;
				margin-left: 0;
			}
			
			.bottom-gate {
				width: 100%;
				height: auto;
				margin-top: -50%;
				max-width: none;
				@media all and (min-width: 420px) {
					width: 130%;
					height: auto;
					margin-top: -50%;
				}
				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(70deg);
					-moz-transform: rotate(70deg);
					-o-transform: rotate(70deg);
					-ms-transform: rotate(70deg);
					transform: rotate(70deg);
					width: 100%;
					height: 200%;
				}
			}	
			p {
				position: absolute;
				font-size: 30px;
				color: white;
				top: -7px;
				margin:0;
				text-transform: uppercase;
				opacity: 0.8;
				display: block;
				width: 100%;
				text-align: center;
				transform: rotateY(-180deg);
				-ms-transform: rotateY(-180deg);
				-webkit-transform: rotatex(-180deg);
				font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				@media all and (min-width: 560px) {
					font-size: 50px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					top:-20px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					top:-30px;
				}
			}
		}
	}
}

/*-------------------------------------------    
	IMAGES FOR EACH SLIDE
-------------------------------------------*/
#horsepower-brainpower {
	.sl-content {
		//background:transparent url(../images/truck.jpg) no-repeat center center;
		//background-size: 100%;
	}
	.content {
		h1 {
			color:#81c2ff;
		}
		p {
			color:#81c2ff;
		}
	}
}
#hindsight-foresight {
	.sl-content {
		/* background:transparent url(../images/plane.jpg) no-repeat center center;
		background-size: 100%; */
	}
	.content {
		h1 {
			color:#445b0d;
		}
		p {
			color:#445b0d;
		}
	}
}
#computers-compassion {
	.sl-content {
		/* background:transparent url(../images/dish.jpg) no-repeat center center;
		background-size: 100%; */
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}
#slice4 {
	.sl-content {
		background:transparent url(../images/circut.jpg) no-repeat center center;
		background-size: 100%;
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}




/*-------------------------------------------    
	Footer
-------------------------------------------*/
.footer {
}
.cube {
	position: absolute;
	right:0;
	bottom:0;
	z-index: 99999;
	a {
		width: 50px;
		height: 50px;
		display: block;
		background:black;
	}
}