.zoom-light {
	display: none;
	background:rgba(0,0,0,.85); 
	position: absolute;
	z-index: 99999999;
	height: 100%;
	width: 100%;
	cursor:pointer;
	@include transitions;
	.zoom-layout{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding-bottom: 90px;
		div {
			list-style-type:none; 
			span {
				float:left;
				width: 100%;
				@include transitions;
				@media all and (min-width: 560px) {
					width: 50%;
				}
				@media all and (min-width: 768px) {
					width: 33%;
				}
				@media all and (min-width: 1260px) {
					width:25%;
				}
				
				a {
					display: block;
					margin:15px;
					overflow: hidden;
					 &:hover img {
					 	@include transitions;
					 	-webkit-transform: rotateY(30deg);
						-moz-transform:    rotateY(30deg);
						-ms-transform:     rotateY(30deg);
						-o-transform:      rotateY(30deg);
						transform:         rotateY(30deg);
						box-shadow: 5px 5px 8px -1px #fff;
					 }
					img {
						@include transitions;
						width: 100%;
						height:150px;
						@media all and (min-width: 768px) {
							height: 250px;
						}
						@media all and (min-width: 1260px) {	
							height:350px;
						}
					}

				}
			}
		}
	}
				
}