/*
*************************************************

AmerisourceBergen
General Screen Styles

Created by the Greg Sarault via Bluecadet
www.bluecadet.com

*************************************************
*/
/*-------------------------------------------    
    Fonts     
-------------------------------------------*/
@font-face {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  src: url("../css/fonts/rock.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after {
  content: 'mini';
  display: none;
  background: #000; }

/*-------------------------------------------    
    Base     
-------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased !important; }

/* for rems */
body {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #333; }

/* block level */
h1, .h1 {
  font: bold 3.8em Helvetica, Arial, sans-serif;
  margin: 0 0 0.5em; }

h2, .h2 {
  font: bold 1.8em Helvetica, Arial, sans-serif;
  margin: 0 0 1em; }

h3, .h3 {
  font: bold 1.5em Helvetica, Arial, sans-serif;
  margin: 0 0 1em; }

h4, h5, h6, .h4, .h5, .h6 {
  font: bold 1.2rem Helvetica, Arial, sans-serif;
  margin: 0 0 1em; }

p, ul, dl, ol, table {
  font-size: 16px;
  margin: 0 0 1.5em; }

form {
  margin: 0 0 1.5em; }

/* inline */
label {
  font-size: 1.6rem; }

input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder {
  color: red; }

input.empty:-moz-placeholder, textarea.empty:-moz-placeholder {
  color: red; }

.error {
  color: red; }

td {
  padding: 0.25em 1em;
  border-top: 1px solid #aaa; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

mark {
  background: none;
  font-style: normal; }

video {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

a:hover, a:focus {
  color: red; }

img {
  display: block;
  margin: 0 10px 10px 0;
  max-width: 100%; }

a img {
  border: none; }

i {
  font-style: normal; }

b {
  font-weight: normal; }

abbr, abbr[title], acronym {
  font-size: 75%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none; }

code {
  font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace;
  color: #999; }

sub, sup {
  line-height: 0; }

::selection {
  background: #2a69c2;
  color: #fff; }

::-moz-selection {
  background: #2a69c2;
  color: #fff; }

/*-------------------------------------------    
    Mixins
-------------------------------------------*/
/*-------------------------------------------    
    Global
-------------------------------------------*/
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark {
  display: block;
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/
.phark-link {
  overflow: hidden; }

/**/
/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.offscreen {
  position: absolute;
  left: -9999px;
  display: block; }

.onscreen {
  left: 0; }

.hide {
  display: none; }

.no-bullets {
  list-style: none; }

.bulleted {
  list-style: disc; }

.uppercase {
  text-transform: uppercase; }

.rwd-break {
  display: block; }

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0; }

/*-------------------------------------------    
	Modules
-------------------------------------------*/
@media all and (min-width: 420px) {
  .moveup {
    -webkit-animation: moveUp .5s ease-in-out both;
    -moz-animation: moveUp .5s ease-in both;
    -o-animation: moveUp .5s ease-in both;
    -ms-animation: moveUp .5s ease-in both;
    animation: moveUp .5s ease-in-out both; } }

.scale-up {
  -webkit-animation: scaleUp .5s ease-in-out both;
  -moz-animation: scaleUp .5s ease-in both;
  -o-animation: scaleUp .5s ease-in both;
  -ms-animation: scaleUp .5s ease-in both;
  animation: scaleUp .5s ease-in-out both; }

.scale-down {
  -webkit-animation: scaleDown .5s ease-in-out both;
  -moz-animation: scaleDown .5s ease-in both;
  -o-animation: scaleDown .5s ease-in both;
  -ms-animation: scaleDown .5s ease-in both;
  animation: scaleDown .5s ease-in-out both; }

/*-------------------------------------------    
	Page
-------------------------------------------*/
.container {
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

.sl-slide {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  /* Landscape */ }
  @media screen and (orientation: landscape) {
    .sl-slide {
      -webkit-transform: rotate(7deg);
      -moz-transform: rotate(7deg);
      -o-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
      transform: rotate(7deg); } }
  .sl-slide .sl-content-wrapper {
    width: 120%;
    height: 120%; }
    .sl-slide .sl-content-wrapper .sl-content {
      position: relative;
      width: 120%;
      height: 120%;
      left: -10%;
      top: -10%; }
    .sl-slide .sl-content-wrapper .background {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg); }
  .sl-slide .content-wrapper {
    top: 12%;
    left: 0%;
    position: relative;
    overflow: auto;
    width: 75%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg); }
    @media all and (min-width: 420px) {
      .sl-slide .content-wrapper {
        top: 15%;
        width: 70%; } }
    @media all and (min-width: 768px) {
      .sl-slide .content-wrapper {
        width: 60%;
        top: 25%; } }
    .sl-slide .content-wrapper .button-wrapper {
      max-width: 850px;
      position: relative; }
      .sl-slide .content-wrapper .button-wrapper .content {
        position: relative;
        padding-bottom: 85px;
        max-width: 850px; }
        .sl-slide .content-wrapper .button-wrapper .content h1 {
          font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
          font-size: 16px;
          font-size: 1.6em;
          margin: 0; }
          @media all and (min-width: 420px) {
            .sl-slide .content-wrapper .button-wrapper .content h1 {
              margin-bottom: 10px;
              font-size: 28px;
              font-size: 2.8em; } }
          @media all and (min-width: 768px) {
            .sl-slide .content-wrapper .button-wrapper .content h1 {
              font-size: 50px;
              font-size: 5em; } }
        .sl-slide .content-wrapper .button-wrapper .content p {
          font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
          font-size: 12px;
          font-size: 1.2em;
          margin: 0;
          margin-bottom: 10px; }
          @media all and (min-width: 420px) {
            .sl-slide .content-wrapper .button-wrapper .content p {
              margin-bottom: 18px;
              font-size: 18px;
              font-size: 1.6em;
              line-height: 20px; } }
          @media all and (min-width: 768px) {
            .sl-slide .content-wrapper .button-wrapper .content p {
              font-size: 22px;
              font-size: 2.2em;
              line-height: 24px; } }
        .sl-slide .content-wrapper .button-wrapper .content .expand p {
          font-size: 15px;
          font-size: 1.5em;
          line-height: 17px; }
          @media all and (min-width: 768px) {
            .sl-slide .content-wrapper .button-wrapper .content .expand p {
              width: 90%;
              font-size: 20px;
              font-size: 2em;
              line-height: 22px; } }
  .sl-slide .b-border {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    border-bottom: 1px solid #fff;
    height: 54%; }
    @media screen and (orientation: landscape) {
      .sl-slide .b-border {
        height: 45%; } }
  .sl-slide .more {
    display: block;
    position: relative;
    border-top: 1px solid #fff;
    width: 100%;
    bottom: 45px; }
    .sl-slide .more a {
      display: inline-block;
      color: #fff;
      font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
      font-weight: 400;
      font-size: 20px;
      font-size: 2em; }
      .sl-slide .more a:after {
        content: "";
        position: absolute;
        display: block;
        background: transparent url(../images/circle-arrow-down.png) no-repeat 0 0;
        background-size: 100%;
        width: 35px;
        height: 35px;
        margin-left: 30px;
        margin-top: 10px; }
  .sl-slide a.next {
    font-size: 18px;
    color: #fff; }
  .sl-slide .gate {
    display: block;
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0%;
    left: -10%;
    margin: 0;
    padding: 0;
    z-index: 1; }
    @media screen and (orientation: portrait) {
      .sl-slide .gate {
        -webkit-transform: rotate(-77deg);
        -moz-transform: rotate(-77deg);
        -o-transform: rotate(-77deg);
        -ms-transform: rotate(-77deg);
        transform: rotate(-77deg);
        width: 180%;
        left: -40%; } }
    .sl-slide .gate img {
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg); }
    .sl-slide .gate .top-gate-wrapper {
      position: relative;
      width: 100%;
      height: 50%;
      margin: 0;
      padding: 0;
      top: 0;
      overflow: hidden;
      box-shadow: 0px 0px 4px 0px #000; }
      @media all and (min-width: 420px) {
        .sl-slide .gate .top-gate-wrapper {
          width: 100%;
          margin-top: 0;
          margin-left: 0; } }
      .sl-slide .gate .top-gate-wrapper .top-gate {
        width: 110%;
        height: 120%;
        max-width: none;
        top: 5%;
        position: relative; }
        @media screen and (orientation: portrait) {
          .sl-slide .gate .top-gate-wrapper .top-gate {
            -webkit-transform: rotate(70deg);
            -moz-transform: rotate(70deg);
            -o-transform: rotate(70deg);
            -ms-transform: rotate(70deg);
            transform: rotate(70deg);
            width: 100%;
            height: 200%; } }
      .sl-slide .gate .top-gate-wrapper p {
        position: absolute;
        font-size: 30px;
        color: white;
        margin: 0;
        bottom: -7px;
        text-transform: uppercase;
        opacity: 0.8;
        display: block;
        width: 100%;
        text-align: center;
        font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
        font-weight: bold; }
        @media all and (min-width: 560px) {
          .sl-slide .gate .top-gate-wrapper p {
            font-size: 50px; } }
        @media all and (min-width: 768px) {
          .sl-slide .gate .top-gate-wrapper p {
            font-size: 90px;
            bottom: -20px; } }
        @media all and (min-width: 1024px) {
          .sl-slide .gate .top-gate-wrapper p {
            font-size: 130px;
            bottom: -30px; } }
    .sl-slide .gate .bottom-gate-wrapper {
      position: relative;
      width: 100%;
      top: 0;
      height: 60%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      box-shadow: 0px 0px 4px 0px #000; }
      @media all and (min-width: 420px) {
        .sl-slide .gate .bottom-gate-wrapper {
          width: 100%;
          margin-top: 0;
          margin-left: 0; } }
      .sl-slide .gate .bottom-gate-wrapper .bottom-gate {
        width: 100%;
        height: auto;
        margin-top: -50%;
        max-width: none; }
        @media all and (min-width: 420px) {
          .sl-slide .gate .bottom-gate-wrapper .bottom-gate {
            width: 130%;
            height: auto;
            margin-top: -50%; } }
        @media screen and (orientation: portrait) {
          .sl-slide .gate .bottom-gate-wrapper .bottom-gate {
            -webkit-transform: rotate(70deg);
            -moz-transform: rotate(70deg);
            -o-transform: rotate(70deg);
            -ms-transform: rotate(70deg);
            transform: rotate(70deg);
            width: 100%;
            height: 200%; } }
      .sl-slide .gate .bottom-gate-wrapper p {
        position: absolute;
        font-size: 30px;
        color: white;
        top: -7px;
        margin: 0;
        text-transform: uppercase;
        opacity: 0.8;
        display: block;
        width: 100%;
        text-align: center;
        transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotatex(-180deg);
        font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
        font-weight: bold; }
        @media all and (min-width: 560px) {
          .sl-slide .gate .bottom-gate-wrapper p {
            font-size: 50px; } }
        @media all and (min-width: 768px) {
          .sl-slide .gate .bottom-gate-wrapper p {
            font-size: 90px;
            top: -20px; } }
        @media all and (min-width: 1024px) {
          .sl-slide .gate .bottom-gate-wrapper p {
            font-size: 130px;
            top: -30px; } }

/*-------------------------------------------    
	IMAGES FOR EACH SLIDE
-------------------------------------------*/
#horsepower-brainpower .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#00539b), to(#820053));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #00539b, #820053);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #00539b, #820053);
  /* IE 10 */
  background: -ms-linear-gradient(top, #00539b, #820053);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #00539b, #820053);
  opacity: .8; }
#horsepower-brainpower .content h1 {
  color: #81c2ff; }
#horsepower-brainpower .content p {
  color: #81c2ff; }

#hindsight-foresight .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#ffce51), to(#78a13f));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffce51, #78a13f);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffce51, #78a13f);
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffce51, #78a13f);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffce51, #78a13f);
  opacity: .8; }
#hindsight-foresight .content h1 {
  color: #445b0d; }
#hindsight-foresight .content p {
  color: #445b0d; }

#computers-compassion .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#008bb0), to(#00746d));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #008bb0, #00746d);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #008bb0, #00746d);
  /* IE 10 */
  background: -ms-linear-gradient(top, #008bb0, #00746d);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #008bb0, #00746d);
  opacity: .8; }
#computers-compassion .content h1 {
  color: #cdfc94; }
#computers-compassion .content p {
  color: #cdfc94; }

#slice4 .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#008bb0), to(#00746d));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #008bb0, #00746d);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #008bb0, #00746d);
  /* IE 10 */
  background: -ms-linear-gradient(top, #008bb0, #00746d);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #008bb0, #00746d);
  opacity: .8; }
#slice4 .content h1 {
  color: #cdfc94; }
#slice4 .content p {
  color: #cdfc94; }

#slice5 .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#008bb0), to(#00746d));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #008bb0, #00746d);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #008bb0, #00746d);
  /* IE 10 */
  background: -ms-linear-gradient(top, #008bb0, #00746d);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #008bb0, #00746d);
  opacity: .8; }
#slice5 .content h1 {
  color: #cdfc94; }
#slice5 .content p {
  color: #cdfc94; }

#slice5 .sl-content:after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* fallback */
  background-color: transparent;
  background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 0.9, from(#008bb0), to(#00746d));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #008bb0, #00746d);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #008bb0, #00746d);
  /* IE 10 */
  background: -ms-linear-gradient(top, #008bb0, #00746d);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #008bb0, #00746d);
  opacity: .8; }
#slice5 .content h1 {
  color: #cdfc94; }
#slice5 .content p {
  color: #cdfc94; }

/*-------------------------------------------    
	Footer
-------------------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%; }
  .footer .footer-logo {
    background: #000;
    display: block;
    width: 80%;
    float: left;
    padding: 15px 0; }
    @media all and (min-width: 560px) {
      .footer .footer-logo {
        width: 90%; } }
    @media all and (min-width: 1024px) {
      .footer .footer-logo {
        width: 95%; } }
    .footer .footer-logo img {
      margin: 0;
      padding-left: 50px;
      max-width: 140px; }
  .footer .cube {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    display: block;
    float: right;
    width: 20%;
    border-left: 1px solid transparent; }
    @media all and (min-width: 560px) {
      .footer .cube {
        width: 10%; } }
    @media all and (min-width: 1024px) {
      .footer .cube {
        width: 5%; } }
    .footer .cube a {
      background: black url(../images/cube.png) no-repeat center center;
      background-size: 75%;
      height: 67px;
      display: block; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%); }

  100% {
    -webkit-transform: translateX(0px);
    -webkit-transform: rotate(8deg); } }

@-moz-keyframes slide {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0; }

  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-o-keyframes slide {
  0% {
    -o-transform: translateX(100%);
    opacity: 0; }

  100% {
    -o-transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-ms-keyframes slide {
  0% {
    -ms-transform: translateX(100%);
    opacity: 0; }

  100% {
    -ms-transform: translateX(0px);
    opacity: 1;
    -ms-transform: rotate(8deg); } }

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0; }

  100% {
    transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(20px); }

  100% {
    -webkit-transform: translateY(0px); } }

@-moz-keyframes moveUp {
  0% {
    -moz-transform: translateY(20px); }

  100% {
    -moz-transform: translateY(0px); } }

@-o-keyframes moveUp {
  0% {
    -o-transform: translateY(20px); }

  100% {
    -o-transform: translateY(0px); } }

@-ms-keyframes moveUp {
  0% {
    -ms-transform: translateY(20px); }

  100% {
    -ms-transform: translateY(0px); } }

@keyframes moveUp {
  0% {
    transform: translateY(20px); }

  100% {
    transform: translateY(0px); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1); }

  100% {
    -webkit-transform: scale(0); } }

@-moz-keyframes scaleDown {
  0% {
    -moz-transform: scale(1); }

  100% {
    -moz-transform: scale(0); } }

@-o-keyframes scaleDown {
  0% {
    -o-transform: scale(1); }

  100% {
    -o-transform: scale(0); } }

@-ms-keyframes scaleDown {
  0% {
    -ms-transform: scale(1); }

  100% {
    -ms-transform: scale(0); } }

@keyframes scaleDown {
  0% {
    transform: scale(1); }

  100% {
    transform: scale(0); } }

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes scaleUp {
  0% {
    -moz-transform: scale(0); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes scaleUp {
  0% {
    -o-transform: scale(0); }

  100% {
    -o-transform: scale(1); } }

@-ms-keyframes scaleUp {
  0% {
    -ms-transform: scale(0); }

  100% {
    -ms-transform: scale(1); } }

@keyframes scaleUp {
  0% {
    transform: scale(0); }

  100% {
    transform: scale(1); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes gateUp {
  0% {
    -webkit-transform: translateY(0); }

  100% {
    -webkit-transform: translateY(-40%); } }

@-moz-keyframes gateUp {
  0% {
    -moz-transform: translateY(0); }

  100% {
    -moz-transform: translateY(-40%); } }

@-o-keyframes gateUp {
  0% {
    -o-transform: translateY(0); }

  100% {
    -o-transform: translateY(-40%); } }

@-ms-keyframes gateUp {
  0% {
    -ms-transform: translateY(0); }

  100% {
    -ms-transform: translateY(-40%); } }

@keyframes gateUp {
  0% {
    transform: translateY(0); }

  100% {
    transform: translateY(-40%); } }

/*-------------------------------------------    
	Slit Slider Specific
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/
.sl-slider {
  position: absolute;
  top: 0;
  left: 0; }

/* Slide wrapper and slides */
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.sl-slide {
  z-index: 1; }

/* The duplicate parts/slices */
.sl-content-slice {
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1; }

/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  -webkit-transform: translateY(0%) scale(1);
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1); }

.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px; }

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
  top: 50%;
  padding: 0px 200px 200px 200px; }

/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  -webkit-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1); }

.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px; }

.sl-slide-vertical .sl-content-slice:nth-child(2) {
  left: 50%;
  padding: 200px 200px 200px 0px; }

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
  position: absolute; }

.sl-content {
  width: 100%;
  height: 100%;
  background: #fff; }

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
  background: #ddd; }

.sl-slide-vertical .sl-slide-inner {
  background: #ccc; }

/*-------------------------------------------    
	Custom Style Sheet
	http://tympanus.net/codrops/2012/06/05/fullscreen-slit-slider-with-jquery-and-css3/
-------------------------------------------*/
.sl-slider-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.nav-arrows > div {
  position: absolute;
  z-index: 2000;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  cursor: pointer; }
  @media all and (min-width: 420px) {
    .nav-arrows > div {
      width: 60px;
      height: 60px; } }

.nav-arrows:hover {
  border-color: rgba(150, 150, 150, 0.9); }

.prev-title {
  display: none;
  margin: -40px 0 0 15px; }
  .prev-title p {
    color: #fff;
    font-size: 26px;
    margin: 0;
    margin-left: 15px; }
  .prev-title p + p {
    margin-left: 0px; }

.next-title {
  display: none;
  position: absolute;
  right: 70px;
  top: -40px; }
  .next-title p {
    color: #fff;
    font-size: 26px;
    margin: 0 40px 0 0; }
  .next-title p + p {
    display: inline-block;
    margin: 0 0 0 0; }

.nav-arrows .nav-arrow-prev {
  left: 5%;
  border-right: none;
  border-top: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 80%; }
  @media all and (min-width: 420px) {
    .nav-arrows .nav-arrow-prev {
      left: 30px;
      top: 20%; } }
  .nav-arrows .nav-arrow-prev:before {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: 2px;
    width: 0;
    height: 50px;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-arrows .nav-arrow-prev:after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: 2px;
    width: 0;
    height: 50px;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.nav-arrows .nav-arrow-next {
  left: 94%;
  top: 80%;
  text-align: right;
  border-left: none;
  border-bottom: none; }
  @media all and (min-width: 1024px) {
    .nav-arrows .nav-arrow-next {
      left: 97%; } }
  .nav-arrows .nav-arrow-next:before {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: 2px;
    width: 0;
    height: 50px;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-arrows .nav-arrow-next:after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: 2px;
    width: 0;
    height: 50px;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.next-current, .prev-current {
  display: block;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  transition: all .8s ease-out; }
  .next-current p, .prev-current p {
    color: transparent; }
  @media all and (min-width: 420px) {
    .next-current:hover p, .prev-current:hover p {
      color: #fff; } }

/* Custom navigation dots */
.container .nav-dots {
  text-align: center;
  position: fixed;
  bottom: 50px;
  width: 100%;
  left: 0;
  z-index: 1000; }
.container .nav-dots span {
  display: inline-block;
  float: left;
  position: relative;
  width: 16.666666667%;
  height: 10px;
  background: #ddd;
  background: #21a3ba;
  cursor: pointer;
  opacity: .25; }
.container .nav-dots span:nth-of-type(2) {
  background: #753d78; }
.container .nav-dots span:nth-of-type(3) {
  background: #ebb231; }
.container .nav-dots span:nth-of-type(4) {
  background: yellow; }
.container .nav-dots span:nth-of-type(5) {
  background: blue; }
.container .nav-dots span:nth-of-type(6) {
  background: orange; }
.container .nav-dots span.nav-dot-current {
  opacity: 1;
  vertical-align: bottom;
  margin-top: -2px;
  content: "";
  height: 15px;
  -moz-box-shadow: 1px 1px 3px 0px #ccc;
  -webkit-box-shadow: 1px 1px 3px 0px #ccc;
  box-shadow: 1px 1px 3px 0px #ccc; }

/* Animations for content elements */
.sl-trans-elems .deco {
  /*-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  animation: roll 1s ease-out both, fadeIn 1s ease-out both;*/ }

.zoom-light {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  transition: all .8s ease-out; }
  .zoom-light .zoom-layout {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 90px; }
    .zoom-light .zoom-layout div {
      list-style-type: none; }
      .zoom-light .zoom-layout div span {
        float: left;
        width: 100%;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .8s ease-out;
        -o-transition: all .8s ease-out;
        transition: all .8s ease-out; }
        @media all and (min-width: 560px) {
          .zoom-light .zoom-layout div span {
            width: 50%; } }
        @media all and (min-width: 768px) {
          .zoom-light .zoom-layout div span {
            width: 33%; } }
        @media all and (min-width: 1260px) {
          .zoom-light .zoom-layout div span {
            width: 25%; } }
        .zoom-light .zoom-layout div span a {
          display: block;
          margin: 15px;
          overflow: hidden; }
          .zoom-light .zoom-layout div span a:hover img {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .8s ease-out;
            -o-transition: all .8s ease-out;
            transition: all .8s ease-out;
            -webkit-transform: rotateY(30deg);
            -moz-transform: rotateY(30deg);
            -ms-transform: rotateY(30deg);
            -o-transform: rotateY(30deg);
            transform: rotateY(30deg);
            box-shadow: 5px 5px 8px -1px #fff; }
          .zoom-light .zoom-layout div span a img {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .8s ease-out;
            -o-transition: all .8s ease-out;
            transition: all .8s ease-out;
            width: 100%;
            height: 150px; }
            @media all and (min-width: 768px) {
              .zoom-light .zoom-layout div span a img {
                height: 250px; } }
            @media all and (min-width: 1260px) {
              .zoom-light .zoom-layout div span a img {
                height: 350px; } }
