.zoom-light {
	display: none;
	background:rgba(0,0,0,.85); 
	position: absolute;
	z-index: 99999999;
	height: 100%;
	width: 100%;
	cursor:pointer;
	@include transitions;
	.zoom-layout{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding-bottom: 90px;
		ul {
			list-style-type:none; 
			li {
				float:left;
				width: 100%;
				@include transitions;
				/* @media all and (min-width: 560px) {
					width: 50%;
				} */
				@media all and (min-width: 768px) {
					width: 33%;
				}
				/* @media all and (min-width: 1260px) {
					width:25%;
				} */
				
				a {
					display: block;
					margin:15px;
					overflow: hidden;
					 &:hover {
					 	@include transitions;
					 	-webkit-transform: scale(1.1);
						-moz-transform:    scale(1.1);
						-ms-transform:     scale(1.1);
						-o-transform:      scale(1.1);
						transform:         scale(1.1);
					 }
					img {
						@include transitions;
						width: 100%;
						height:200px;
						@media all and (min-width: 560px) {
							height:250px;
						}
						@media all and (min-width: 768px) {
							height: 250px;
						}
						@media all and (min-width: 1260px) {	
							height:350px;
						}
					}

				}
			}
		}
	}			
}
.subscribe-form-block {
	display: none;
	background:rgba(0,0,0,.85); 
	position: absolute;
	z-index: 99999;
	height: 100%;
	width: 100%;
	@include transitions;
	color:#fff;
	.subscribe-form-wrapper {
		/* padding:15px 15px 50px; */
		background:rgba(0,0,0,.95); 
		display: block;
		margin:0 auto;
		width:90%;
		max-width: 645px;
		margin-top: 10%;
		position: relative;
		border:1px solid rgba(255,255,255,0.6);
		.close {
			position: absolute;
			top:10px;
			right:10px;
			display: block;
			background:#000;
			width: 50px;
			height: 50px;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
			font-size: 25px;
			border:2px solid #fff;
			cursor:pointer;
			&:before {
				content:"";
				z-index: 99999999999;
				display: block;
				position: absolute;
				height: 40px;
				border-left:2px solid #fff;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				left:24px;
				top:5px;
			}
			&:after {
				content:"";
				z-index: 99999999999;
				display: block;
				position: absolute;
				height: 40px;
				border-left:2px solid #fff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				left:24px;
				top:5px;
			}
		}
		.form-wrapper {
			padding:80px 100px;
			font-family: arial;
			-webkit-font-smoothing: antialiased;
			p {
				font-size: 18px;
				font-size: 1.8em;
				line-height: 21px;
			}
			form {
				margin:0 auto;
				.subscribe-input {
					display: block;
					margin-bottom: 15px;
					width:100%;
					padding:5px;
					color:#a2a1a1;
					font-size: 13px;
					-moz-box-shadow:0;
					-webkit-box-shadow:0;
					box-shadow:0;
					-webkit-text-stroke: 0.1px;
					-webkit-font-smoothing: antialiased;
					@media all and (min-width: 420px) {
						padding:10px;
						font-size: 18px;
					}
					&:focus {
						outline:2px solid #077d9b;
					}
					&:last-of-type {
						margin-bottom: 20px;
					}
				}
				.subscribe-submit {
					-webkit-text-stroke: 0.1px;
					
					float:right;
					background-color:#000;
					border:1px solid #fff;
					display:inline-block;
					cursor:pointer;
					color:#777777;
					font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
					font-size:16px;
					color:#fff;
					padding:5px 14px;
					text-decoration:none;
					outline: none;
					-moz-box-shadow:0;
					-webkit-box-shadow:0;
					box-shadow:0;
					@media all and (min-width: 420px) {
						padding:6px 10px;
						margin-right: -24px;
					}
					&:hover {
						background-color:#fff;
						color:#000;
						border:1px solid #000;
					}
					&:active {
						position:relative;
						top:1px;
					}
				}
			}
		}
	}
}

::-webkit-input-placeholder {
	padding-left:5px;
	font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
	color:#a2a1a1;
}
:-moz-placeholder { /* Firefox 18- */
	padding-left:5px;
   	font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;  
   	color:#a2a1a1;
}
::-moz-placeholder {  /* Firefox 19+ */
	padding-left:5px;
   	font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif; 
   	color:#a2a1a1;
}
:-ms-input-placeholder {  
	padding-left:5px;
   	font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif; 
   	color:#a2a1a1;
}