/*
*************************************************

AmerisourceBergen
General Screen Styles

Created by the Greg Sarault via Bluecadet
www.bluecadet.com

*************************************************
*/
/*-------------------------------------------    
    Fonts     
-------------------------------------------*/
@font-face {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  src: url("../css/fonts/rock.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after {
  content: 'mini';
  display: none;
  background: #000; }

/*-------------------------------------------    
    Base     
-------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

/* for rems */
body {
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #333;
  vertical-align: baseline; }

/* block level */
h1, .h1 {
  font: bold 3.8em "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  margin: 0 0 0.5em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px; }

h2, .h2 {
  font: bold 1.8em "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  margin: 0 0 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px; }

h3, .h3 {
  font: bold 1.5em "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  margin: 0 0 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px; }

h4, h5, h6, .h4, .h5, .h6 {
  font: bold 1.2rem "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  margin: 0 0 1em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px; }

p, ul, dl, ol, table {
  font-size: 16px;
  margin: 0 0 1.5em;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.1px; }

ul {
  padding-left: 20px; }

form {
  margin: 0 0 1.5em; }

/* inline */
label {
  font-size: 1.6rem; }

input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder {
  color: red; }

input.empty:-moz-placeholder, textarea.empty:-moz-placeholder {
  color: red; }

.error {
  color: red; }

td {
  padding: 0.25em 1em;
  border-top: 1px solid #aaa; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

mark {
  background: none;
  font-style: normal; }

video {
  width: 100%;
  height: auto; }

a {
  text-decoration: none; }

a:hover, a:focus {
  color: red; }

img {
  display: block;
  margin: 0 10px 10px 0;
  max-width: 100%; }

a img {
  border: none; }

i {
  font-style: normal; }

b {
  font-weight: normal; }

abbr, abbr[title], acronym {
  font-size: 75%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none; }

code {
  font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace;
  color: #999; }

sub, sup {
  line-height: 0; }

::selection {
  background: #2a69c2;
  color: #fff; }

::-moz-selection {
  background: #2a69c2;
  color: #fff; }

/*-------------------------------------------    
    Mixins
-------------------------------------------*/
/*-------------------------------------------    
    Global
-------------------------------------------*/
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark {
  display: block;
  text-indent: -9999px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/
.phark-link {
  overflow: hidden; }

/**/
/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.offscreen {
  position: absolute;
  left: -9999px;
  display: block; }

.onscreen {
  left: 0; }

.hide {
  display: none; }

.no-bullets {
  list-style: none; }

.bulleted {
  list-style: disc; }

.uppercase {
  text-transform: uppercase; }

.rwd-break {
  display: block; }

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0; }

/*-------------------------------------------    
	Modules
-------------------------------------------*/
@media all and (min-width: 420px) {
  .moveup {
    -webkit-animation: moveUp .5s ease-in-out both;
    -moz-animation: moveUp .5s ease-in both;
    -o-animation: moveUp .5s ease-in both;
    -ms-animation: moveUp .5s ease-in both;
    animation: moveUp .5s ease-in-out both; } }

.scale-up {
  -webkit-animation: scaleUp .5s ease-in-out both;
  -moz-animation: scaleUp .5s ease-in both;
  -o-animation: scaleUp .5s ease-in both;
  -ms-animation: scaleUp .5s ease-in both;
  animation: scaleUp .5s ease-in-out both; }

.scale-down {
  -webkit-animation: scaleDown .5s ease-in-out both;
  -moz-animation: scaleDown .5s ease-in both;
  -o-animation: scaleDown .5s ease-in both;
  -ms-animation: scaleDown .5s ease-in both;
  animation: scaleDown .5s ease-in-out both; }

/*-------------------------------------------    
	Page
-------------------------------------------*/
.container {
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

.wrapper {
  padding: 50px; }

.slide {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 98%;
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
  .slide .background {
    position: absolute;
    z-index: 0;
    width: 120%;
    height: 100%;
    max-width: none; }
    @media only screen and (orientation: landscape) and (min-device-width: 960px) {
      .slide .background {
        width: 200%;
        height: auto; } }
    @media only screen and (min-device-width: 1024px) {
      .slide .background {
        width: 130%;
        height: auto; } }
  .slide .content-wrapper {
    top: 11%;
    left: 0;
    position: relative;
    overflow: auto;
    width: 75%;
    margin: 0 auto;
    z-index: 1;
    max-width: 650px;
    max-height: 60%;
    /* @media all and (min-width: 560px) {
    	left:0;
    } */ }
    @media all and (min-width: 420px) {
      .slide .content-wrapper {
        top: 15%;
        width: 70%; } }
    @media all and (min-width: 768px) {
      .slide .content-wrapper {
        width: 45%;
        top: 20%;
        left: -13%; } }
    @media all and (min-width: 1400px) {
      .slide .content-wrapper {
        left: -15%; } }
    @media only screen and (orientation: landscape) and (max-device-width: 480px) {
      .slide .content-wrapper {
        height: 150px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slide .content-wrapper {
        height: auto; } }
    .slide .content-wrapper .button-wrapper {
      position: relative; }
      .slide .content-wrapper .button-wrapper .content {
        text-align: left;
        position: relative;
        padding-bottom: 45px;
        -webkit-text-stroke: 0.1px; }
        .slide .content-wrapper .button-wrapper .content h1 {
          text-align: left;
          font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
          font-size: 16px;
          font-size: 1.6em;
          margin: 0;
          -webkit-text-stroke: 0.1px; }
          @media all and (min-width: 420px) {
            .slide .content-wrapper .button-wrapper .content h1 {
              margin-bottom: 8px;
              font-size: 28px;
              font-size: 2.8em; } }
          @media all and (min-width: 768px) {
            .slide .content-wrapper .button-wrapper .content h1 {
              font-size: 36px;
              font-size: 3.6em; } }
          @media all and (min-width: 960px) {
            .slide .content-wrapper .button-wrapper .content h1 {
              font-size: 50px;
              font-size: 5em; } }
        .slide .content-wrapper .button-wrapper .content p {
          font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
          font-size: 14px;
          font-size: 1.4em;
          margin: 0;
          margin-bottom: 10px;
          -webkit-text-stroke: 0.1px; }
          @media all and (min-width: 420px) {
            .slide .content-wrapper .button-wrapper .content p {
              margin-bottom: 18px;
              font-size: 18px;
              font-size: 1.8em;
              line-height: 20px; } }
          @media all and (min-width: 768px) {
            .slide .content-wrapper .button-wrapper .content p {
              font-size: 20px;
              font-size: 2em;
              line-height: 30px; } }
        .slide .content-wrapper .button-wrapper .content .expand p {
          letter-spacing: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-size: 1.5em;
          line-height: 17px; }
          @media all and (min-width: 768px) {
            .slide .content-wrapper .button-wrapper .content .expand p {
              width: 90%;
              font-size: 18px;
              font-size: 1.8em;
              line-height: 24px; } }
  .slide .b-border {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    border-bottom: 1px solid #fff;
    height: 54%; }
    @media screen and (orientation: landscape) {
      .slide .b-border {
        height: 45%; } }
  .slide .more {
    display: block;
    position: relative;
    border-top: 1px solid #fff;
    width: 100%;
    bottom: 45px; }
    .slide .more a {
      display: inline-block;
      color: #fff;
      font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
      font-weight: 400;
      font-size: 20px;
      font-size: 2em; }
      .slide .more a:after {
        content: "";
        position: absolute;
        display: block;
        background: transparent url(../images/circle-arrow-down.png) no-repeat 0 0;
        background-size: 100%;
        width: 35px;
        height: 35px;
        margin-left: 30px;
        margin-top: 10px; }
  .slide a.next {
    font-size: 18px;
    color: #fff; }
  .slide .gate {
    display: block;
    position: absolute;
    width: 160%;
    height: 100%;
    top: 0%;
    left: -40%;
    margin: 0;
    padding: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotate(-87deg);
    -moz-transform: rotate(-87deg);
    -o-transform: rotate(-87deg);
    -ms-transform: rotate(-87deg);
    transform: rotate(-87deg); }
    @media screen and (orientation: landscape) {
      .slide .gate {
        width: 120%;
        height: 120%;
        top: -15%;
        left: -10%;
        -webkit-transform: rotate(7deg);
        -moz-transform: rotate(7deg);
        -o-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg); } }
    .slide .gate img {
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
      transform: rotate(-7deg); }
    .slide .gate .top-gate-wrapper {
      position: relative;
      width: 100%;
      height: 60%;
      margin: 0;
      padding: 0;
      top: 0%;
      overflow: hidden;
      box-shadow: 0px 0px 4px 0px #000;
      outline: 1px solid transparent;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      /* &:after {
      	content:"";
      	display: block;
      	position: absolute;
      	overflow: hidden;
      	height:100%;
      	width:100%;
      	top:0;
      	left:0;
        	background: #000;
        	opacity: .1;
        	z-index: 1;
      } */ }
      @media all and (min-width: 420px) {
        .slide .gate .top-gate-wrapper {
          width: 100%;
          margin-top: 0;
          margin-left: 0; } }
      .slide .gate .top-gate-wrapper .top-gate {
        width: 110%;
        height: auto;
        max-width: none;
        top: 5%;
        position: relative; }
        @media screen and (orientation: portrait) {
          .slide .gate .top-gate-wrapper .top-gate {
            width: 200%;
            height: 200%;
            -webkit-transform: rotate(87deg);
            -moz-transform: rotate(87deg);
            -o-transform: rotate(87deg);
            -ms-transform: rotate(87deg);
            transform: rotate(87deg);
            margin-top: -20%;
            margin-left: -50%; } }
      .slide .gate .top-gate-wrapper p {
        position: absolute;
        font-size: 38px;
        color: white;
        margin: 0;
        bottom: -9px;
        left: 15px;
        text-transform: uppercase;
        opacity: 0.8;
        display: block;
        width: 100%;
        text-align: center;
        font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
        font-weight: bold;
        z-index: 2; }
        @media all and (min-width: 420px) {
          .slide .gate .top-gate-wrapper p {
            font-size: 50px;
            bottom: -11px; } }
        @media all and (min-width: 560px) {
          .slide .gate .top-gate-wrapper p {
            font-size: 80px;
            bottom: -18px; } }
        @media all and (min-width: 768px) {
          .slide .gate .top-gate-wrapper p {
            font-size: 90px;
            bottom: -20px; } }
        @media all and (min-width: 1024px) {
          .slide .gate .top-gate-wrapper p {
            font-size: 130px;
            bottom: -30px; } }
    .slide .gate .bottom-gate-wrapper {
      outline: 1px solid transparent;
      position: relative;
      width: 100%;
      height: 60%;
      top: 0%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      box-shadow: 0px 0px 4px 0px #000; }
      @media all and (min-width: 420px) {
        .slide .gate .bottom-gate-wrapper {
          width: 100%;
          margin-top: 0;
          margin-left: 0; } }
      .slide .gate .bottom-gate-wrapper:after {
        content: "";
        display: block;
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: .2;
        z-index: 1; }
      .slide .gate .bottom-gate-wrapper .bottom-gate {
        width: 120%;
        height: auto;
        margin-top: -50%;
        max-width: none; }
        @media all and (min-width: 420px) {
          .slide .gate .bottom-gate-wrapper .bottom-gate {
            width: 120%;
            height: auto;
            margin-top: -30%; } }
        @media screen and (orientation: portrait) {
          .slide .gate .bottom-gate-wrapper .bottom-gate {
            width: 140%;
            height: auto;
            margin-left: -20%;
            -webkit-transform: rotate(87deg);
            -moz-transform: rotate(87deg);
            -o-transform: rotate(87deg);
            -ms-transform: rotate(87deg);
            transform: rotate(87deg); } }
        @media all and (min-width: 1024px) {
          .slide .gate .bottom-gate-wrapper .bottom-gate {
            width: 100%; } }
      .slide .gate .bottom-gate-wrapper p {
        position: absolute;
        font-size: 38px;
        color: white;
        top: -10px;
        left: 15px;
        margin: 0;
        text-transform: uppercase;
        opacity: 0.8;
        display: block;
        width: 100%;
        text-align: center;
        font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
        font-weight: bold;
        z-index: 2;
        transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotatex(-180deg); }
        @media all and (min-width: 420px) {
          .slide .gate .bottom-gate-wrapper p {
            font-size: 50px;
            top: -11px; } }
        @media all and (min-width: 560px) {
          .slide .gate .bottom-gate-wrapper p {
            font-size: 80px;
            top: -18px; } }
        @media all and (min-width: 768px) {
          .slide .gate .bottom-gate-wrapper p {
            font-size: 90px;
            top: -20px; } }
        @media all and (min-width: 1024px) {
          .slide .gate .bottom-gate-wrapper p {
            font-size: 130px;
            top: -30px; } }

/*-------------------------------------------    
	IMAGES FOR EACH SLIDE
-------------------------------------------*/
#horsepower-brainpower .content {
  /* &:after {
  	content:"";
  	display: block;
  	position: absolute;
  	overflow: hidden;
  	height:100%;
  	width:100%;
  	top:0;
  	left:0;
    	background-color: transparent;
    	background-repeat: repeat-x;
    	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#00539B), to(#820053));
    	background: -webkit-linear-gradient(top, #00539B, #820053);
    	background: -moz-linear-gradient(top, #00539B, #820053);
    	background: -ms-linear-gradient(top, #00539B, #820053);
    	background: -o-linear-gradient(top, #00539B, #820053);
    	opacity: .8;
  } */ }
#horsepower-brainpower .content h1 {
  color: #81c2ff; }
#horsepower-brainpower .content p {
  color: #81c2ff; }
#horsepower-brainpower .content li {
  color: #81c2ff; }

#hindsight-foresight .content {
  /* &:after {
  	content:"";
  	display: block;
  	position: absolute;
  	overflow: hidden;
  	height:100%;
  	width:100%;
  	top:0;
  	left:0;
    	background-color: transparent;
    	background-repeat: repeat-x;
    	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#FFCE51), to(#78A13F));
    	background: -webkit-linear-gradient(top, #FFCE51, #78A13F);
    	background: -moz-linear-gradient(top, #FFCE51, #78A13F);
    	background: -ms-linear-gradient(top, #FFCE51, #78A13F);
    	background: -o-linear-gradient(top, #FFCE51, #78A13F);
    	opacity: .8;
  } */ }
#hindsight-foresight .content {
  color: #445b0d; }
  #hindsight-foresight .content h1 {
    color: #445b0d; }
  #hindsight-foresight .content p {
    color: #445b0d; }
  #hindsight-foresight .content li {
    color: #445b0d; }

#computers-compassion .content {
  /* &:after {
  	content:"";
  	display: block;
  	position: absolute;
  	overflow: hidden;
  	height:100%;
  	width:100%;
  	top:0;
  	left:0;
    	background-color: transparent;
    	background-repeat: repeat-x;
    	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
    	background: -webkit-linear-gradient(top, #008BB0, #00746D);
    	background: -moz-linear-gradient(top, #008BB0, #00746D);
    	background: -ms-linear-gradient(top, #008BB0, #00746D);
    	background: -o-linear-gradient(top, #008BB0, #00746D);
    	opacity: .8;
  } */ }
#computers-compassion .content h1 {
  color: #cdfc94; }
#computers-compassion .content p {
  color: #cdfc94; }

#slice4 .content {
  /* &:after {
  	content:"";
  	display: block;
  	position: absolute;
  	overflow: hidden;
  	height:100%;
  	width:100%;
  	top:0;
  	left:0;
    	background-color: transparent;
    	background-repeat: repeat-x;
    	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
    	background: -webkit-linear-gradient(top, #008BB0, #00746D);
    	background: -moz-linear-gradient(top, #008BB0, #00746D);
    	background: -ms-linear-gradient(top, #008BB0, #00746D);
    	background: -o-linear-gradient(top, #008BB0, #00746D);
    	opacity: .8;
  } */ }
#slice4 .content h1 {
  color: #cdfc94; }
#slice4 .content p {
  color: #cdfc94; }

#slice5 .content {
  /* &:after {
  	content:"";
  	display: block;
  	position: absolute;
  	overflow: hidden;
  	height:100%;
  	width:100%;
  	top:0;
  	left:0;
    	background-color: transparent;
    	background-repeat: repeat-x;
    	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
    	background: -webkit-linear-gradient(top, #008BB0, #00746D);
    	background: -moz-linear-gradient(top, #008BB0, #00746D);
    	background: -ms-linear-gradient(top, #008BB0, #00746D);
    	background: -o-linear-gradient(top, #008BB0, #00746D);
    	opacity: .8;
  } */ }
#slice5 .content h1 {
  color: #cdfc94; }
#slice5 .content p {
  color: #cdfc94; }
#slice5 .content li {
  color: #cdfc94; }

#slice6 .content {
  	/* &:after {
	content:"";
	display: block;
	position: absolute;
	overflow: hidden;
	height:100%;
	width:100%;
	top:0;
	left:0;
	/* fallback 
  	background-color: transparent;
  	background-repeat: repeat-x;
  	/* Safari 4-5, Chrome 1-9 
  	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
  	/* Safari 5.1, Chrome 10+ 
  	background: -webkit-linear-gradient(top, #008BB0, #00746D);
  	/* Firefox 3.6+ 
  	background: -moz-linear-gradient(top, #008BB0, #00746D);
  	/* IE 10 
  	background: -ms-linear-gradient(top, #008BB0, #00746D);
  	/* Opera 11.10+ 
  	background: -o-linear-gradient(top, #008BB0, #00746D);
  	opacity: .8;
} */ }
#slice6 .content h1 {
  color: #cdfc94; }
#slice6 .content p {
  color: #cdfc94; }

/*-------------------------------------------    
	Footer
-------------------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%; }
  .footer .f-wrapper {
    overflow: hidden;
    background: #000;
    width: 80%;
    padding: 6px 0;
    float: left;
    border-right: 2px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media all and (min-width: 560px) {
      .footer .f-wrapper {
        width: 90%;
        padding: 15px 0; } }
    @media all and (min-width: 1024px) {
      .footer .f-wrapper {
        width: 95%; } }
    .footer .f-wrapper .footer-logo {
      display: block;
      float: left; }
      .footer .f-wrapper .footer-logo img {
        margin: 0;
        padding-left: 10px;
        max-width: 140px; }
        @media all and (min-width: 420px) {
          .footer .f-wrapper .footer-logo img {
            padding-left: 50px; } }
    .footer .f-wrapper .subscribe-block {
      float: right;
      background: transparent url(../images/mailer.png) no-repeat 0 0;
      background-size: 40px;
      cursor: pointer;
      width: 50px;
      height: 40px;
      position: relative;
      top: 5px;
      left: -10px;
      opacity: .8; }
      .footer .f-wrapper .subscribe-block:hover {
        opacity: .9; }
  .footer .cube {
    background: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    display: block;
    float: right;
    width: 20%;
    border-left: 2px solid transparent; }
    @media all and (min-width: 560px) {
      .footer .cube {
        width: 10%; } }
    @media all and (min-width: 1024px) {
      .footer .cube {
        width: 5%; } }
    .footer .cube a {
      background: url(../images/cube.png) no-repeat center center;
      background-size: 62px;
      height: 52px;
      display: block;
      opacity: .5; }
      @media all and (min-width: 560px) {
        .footer .cube a {
          height: 70px; } }
      .footer .cube a:hover {
        opacity: .8; }

.zoom-zoom-in {
  -webkit-animation: zoomer-in 2s ease-in-out both;
  -moz-animation: zoomer-in 2s ease-in-out both;
  -o-animation: zoomer-in 2s ease-in-out both;
  -ms-animation: zoomer-in 2s ease-in-out both;
  animation: zoomer-in 2s ease-in-out both; }

.zoom {
  -webkit-animation: zoom 2s ease-in-out both;
  -moz-animation: zoom 2s ease-in-out both;
  -o-animation: zoom 2s ease-in-out both;
  -ms-animation: zoom 2s ease-in-out both;
  animation: zoom 2s ease-in-out both; }

.zoom-out {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.zoom-in {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

.zoom-zoom {
  -webkit-animation: zoomer 2s ease-in-out both;
  -moz-animation: zoomer 2s ease-in-out both;
  -o-animation: zoomer 2s ease-in-out both;
  -ms-animation: zoomer 2s ease-in-out both;
  animation: zoomer 2s ease-in-out both;
  overflow: auto; }
  .zoom-zoom .slick-dots div {
    z-index: 9999999999;
    cursor: pointer;
    margin-bottom: 50px; }
  @media screen and (orientation: portrait) {
    .zoom-zoom .slick-track {
      max-width: 400px !important; } }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%); }

  100% {
    -webkit-transform: translateX(0px);
    -webkit-transform: rotate(8deg); } }

@-moz-keyframes slide {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0; }

  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-o-keyframes slide {
  0% {
    -o-transform: translateX(100%);
    opacity: 0; }

  100% {
    -o-transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-ms-keyframes slide {
  0% {
    -ms-transform: translateX(100%);
    opacity: 0; }

  100% {
    -ms-transform: translateX(0px);
    opacity: 1;
    -ms-transform: rotate(8deg); } }

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0; }

  100% {
    transform: translateX(0px);
    opacity: 1;
    transform: rotate(8deg); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(20px); }

  100% {
    -webkit-transform: translateY(0px); } }

@-moz-keyframes moveUp {
  0% {
    -moz-transform: translateY(20px); }

  100% {
    -moz-transform: translateY(0px); } }

@-o-keyframes moveUp {
  0% {
    -o-transform: translateY(20px); }

  100% {
    -o-transform: translateY(0px); } }

@-ms-keyframes moveUp {
  0% {
    -ms-transform: translateY(20px); }

  100% {
    -ms-transform: translateY(0px); } }

@keyframes moveUp {
  0% {
    transform: translateY(20px); }

  100% {
    transform: translateY(0px); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1); }

  100% {
    -webkit-transform: scale(2); } }

@-moz-keyframes scaleDown {
  0% {
    -moz-transform: scale(1); }

  100% {
    -moz-transform: scale(2); } }

@-o-keyframes scaleDown {
  0% {
    -o-transform: scale(1); }

  100% {
    -o-transform: scale(2); } }

@-ms-keyframes scaleDown {
  0% {
    -ms-transform: scale(1); }

  100% {
    -ms-transform: scale(2); } }

@keyframes scaleDown {
  0% {
    transform: scale(1); }

  100% {
    transform: scale(2); } }

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(2); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes scaleUp {
  0% {
    -moz-transform: scale(2); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes scaleUp {
  0% {
    -o-transform: scale(2); }

  100% {
    -o-transform: scale(1); } }

@-ms-keyframes scaleUp {
  0% {
    -ms-transform: scale(2); }

  100% {
    -ms-transform: scale(1); } }

@keyframes scaleUp {
  0% {
    transform: scale(2); }

  100% {
    transform: scale(1); } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes gateUp {
  0% {
    -webkit-transform: translateY(0); }

  100% {
    -webkit-transform: translateY(-40%); } }

@-moz-keyframes gateUp {
  0% {
    -moz-transform: translateY(0); }

  100% {
    -moz-transform: translateY(-40%); } }

@-o-keyframes gateUp {
  0% {
    -o-transform: translateY(0); }

  100% {
    -o-transform: translateY(-40%); } }

@-ms-keyframes gateUp {
  0% {
    -ms-transform: translateY(0); }

  100% {
    -ms-transform: translateY(-40%); } }

@keyframes gateUp {
  0% {
    transform: translateY(0); }

  100% {
    transform: translateY(-40%); } }

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes zoom {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(0.5); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes zoom {
  0% {
    -ms-transform: scale(1); }

  50% {
    -ms-transform: scale(0.5); }

  100% {
    -ms-transform: scale(1); } }

@-ms-keyframes zoom {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(0.5); }

  100% {
    -o-transform: scale(1); } }

@keyframes zoom {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(0.5); }

  100% {
    transform: scale(1); } }

@media screen and (orientation: portrait) {
  @-webkit-keyframes zoomer {
    0% {
      -webkit-transform: scale(1); }

    100% {
      -webkit-transform: scale(0.5); } } }
@media screen and (orientation: landscape) {
  @-webkit-keyframes zoomer {
    0% {
      -webkit-transform: scale(1); }

    100% {
      -webkit-transform: scale(0.3); } } }
@media screen and (orientation: portrait) {
  @-moz-keyframes zoomer {
    0% {
      -moz-transform: scale(1); }

    100% {
      -moz-transform: scale(0.5); } } }
@media screen and (orientation: landscape) {
  @-moz-keyframes zoomer {
    0% {
      -moz-transform: scale(1); }

    100% {
      -moz-transform: scale(0.3); } } }
@media screen and (orientation: portrait) {
  @-o-keyframes zoomer {
    0% {
      -ms-transform: scale(1); }

    100% {
      -ms-transform: scale(0.5); } } }
@media screen and (orientation: landscape) {
  @-o-keyframes zoomer {
    0% {
      -ms-transform: scale(1); }

    100% {
      -ms-transform: scale(0.3); } } }
@media screen and (orientation: portrait) {
  @-ms-keyframes zoomer {
    0% {
      -o-transform: scale(1); }

    100% {
      -o-transform: scale(0.5); } } }
@media screen and (orientation: landscape) {
  @-ms-keyframes zoomer {
    0% {
      -o-transform: scale(1); }

    100% {
      -o-transform: scale(0.3); } } }
@media screen and (orientation: portrait) {
  @keyframes zoomer {
    0% {
      transform: scale(1); }

    30% {
      transform: scale(0.5); } } }
@media screen and (orientation: landscape) {
  @keyframes zoomer {
    0% {
      transform: scale(1); }

    30% {
      transform: scale(0.3); } } }
@-webkit-keyframes zoomer-in {
  0% {
    -webkit-transform: scale(0.3); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes zoomer-in {
  0% {
    -moz-transform: scale(0.3); }

  100% {
    -moz-transform: scale(1); } }

@-o-keyframes zoomer-in {
  0% {
    -ms-transform: scale(0.3); }

  100% {
    -ms-transform: scale(1); } }

@-ms-keyframes zoomer-in {
  0% {
    -o-transform: scale(0.3); }

  100% {
    -o-transform: scale(1); } }

@keyframes zoomer-in {
  0% {
    transform: scale(0.3); }

  30% {
    transform: scale(1); } }

/* Slider */
.slick-slider {
  position: relative;
  height: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%; }

.slick-list:focus {
  outline: none; }

.slick-loading .slick-list {
  background: white  center center no-repeat; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
  height: 100%;
  max-width: none !important; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* Icons */
/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  text-align: center;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif; }
  @media all and (min-width: 560px) {
    .slick-prev:hover, .slick-next:hover {
      color: #fff; } }

.slick-prev p {
  font-size: 22px;
  margin: 20px 0 24px 70px; }
.slick-prev p:nth-of-type(2) {
  margin-left: 30px; }

.slick-next p {
  font-size: 22px;
  margin: 20px 70px 24px 0; }
.slick-next p:nth-of-type(2) {
  margin-right: 30px; }

.slick-prev:focus, .slick-next:focus {
  outline: none; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

.slick-prev:before {
  content: "PREV"; }

.slick-next {
  right: -25px; }

.slick-next:before {
  content: "NEXT"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px;
  height: 100%; }

.dot-style {
  background: #000;
  position: absolute;
  z-index: 999999999;
  bottom: 45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%; }

/* .dot-styles button { position: relative; display: inline-block; height: 20px; width: 33%; padding: 0px 5px; cursor: pointer; } */
.dot-styles a:focus {
  outline: none; }

.dot-style {
  text-align: center;
  position: fixed;
  bottom: 25px;
  width: 100%;
  left: 0;
  z-index: 1000;
  background: #000;
  padding: 5px 0; }
  @media all and (min-width: 560px) {
    .dot-style {
      bottom: 35px; } }

.dot-style a {
  text-indent: -999999px;
  display: inline-block;
  float: left;
  position: relative;
  width: 33.33%;
  height: 5px;
  background: #753d78;
  cursor: pointer;
  opacity: .7;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid #000; }

.dot-style li + li a {
  background: #ebb231; }

.dot-style li + li + li a {
  background: #21a3ba; }

.dot-style a:nth-of-type(4) {
  background: yellow; }

.dot-style a:nth-of-type(5) {
  background: blue; }

.dot-style a:nth-of-type(6) {
  background: orange; }

.dot-style li.slick-active a {
  opacity: 1;
  vertical-align: bottom;
  margin-top: -2px;
  content: "";
  height: 8px;
  -moz-box-shadow: 0px 2px 6px -2px #ccc;
  -webkit-box-shadow: 0px 2px 6px -2px #ccc;
  box-shadow: 0px 2px 6px -2px #ccc; }

.nav-arrows > div {
  position: absolute;
  display: block;
  z-index: 2000;
  cursor: pointer; }

.nav-arrows:hover {
  border-color: rgba(150, 150, 150, 0.9); }

.slick-prev {
  position: absolute;
  left: 15px;
  bottom: 90px;
  text-align: left;
  width: 60px;
  height: 50px;
  font-size: 26px; }
  @media all and (min-width: 560px) {
    .slick-prev {
      width: 300px;
      height: 100px;
      top: 12%; } }
  .slick-prev:before {
    content: "";
    display: block;
    height: 30px;
    top: 0;
    position: absolute;
    border-left: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media all and (min-width: 560px) {
      .slick-prev:before {
        height: 60px;
        left: 22px; } }
  .slick-prev:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: -4px;
    border-left: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
    @media all and (min-width: 560px) {
      .slick-prev:after {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 12px; } }
  @media all and (min-width: 768px) {
    .slick-prev:hover .prev-current {
      display: block; } }
  .slick-prev button {
    display: none;
    position: relative;
    left: 30px;
    top: 20px; }
    .slick-prev button p {
      color: #fff;
      font-size: 26px;
      margin: 0;
      margin-left: 25px;
      line-height: 24px; }
    .slick-prev button p + p {
      margin-left: 0px; }

.slick-next {
  right: 15px;
  bottom: 90px;
  border-left: none;
  border-bottom: none;
  text-align: right;
  width: 60px;
  height: 50px; }
  @media all and (min-width: 560px) {
    .slick-next {
      bottom: 12%;
      width: 300px;
      height: 100px; } }
  .slick-next:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 30px;
    border-left: 3px solid #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0; }
    @media all and (min-width: 560px) {
      .slick-next:before {
        height: 60px;
        right: 20px; } }
  .slick-next:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 30px;
    border-left: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px; }
    @media all and (min-width: 560px) {
      .slick-next:after {
        height: 60px;
        right: 20px;
        top: 40px; } }
  @media all and (min-width: 768px) {
    .slick-next:hover .next-current {
      display: block; } }
  .slick-next button {
    display: none;
    position: absolute;
    right: 30px;
    top: 25px; }
    .slick-next button p {
      line-height: 24px;
      color: #fff;
      font-size: 26px;
      margin: 0 40px 0 0; }
    .slick-next button p + p {
      display: inline-block;
      margin: 0 0 0 0; }

.next-current, .prev-current {
  display: block;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  transition: all .8s ease-out; }

.slick-disabled {
  display: none !important; }

.zoom-light {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  transition: all .8s ease-out; }
  .zoom-light .zoom-layout {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 90px; }
    .zoom-light .zoom-layout ul {
      list-style-type: none; }
      .zoom-light .zoom-layout ul li {
        float: left;
        width: 100%;
        -webkit-transition: all .8s ease-out;
        -moz-transition: all .8s ease-out;
        -o-transition: all .8s ease-out;
        transition: all .8s ease-out;
        /* @media all and (min-width: 560px) {
        	width: 50%;
        } */
        /* @media all and (min-width: 1260px) {
        	width:25%;
        } */ }
        @media all and (min-width: 768px) {
          .zoom-light .zoom-layout ul li {
            width: 33%; } }
        .zoom-light .zoom-layout ul li a {
          display: block;
          margin: 15px;
          overflow: hidden; }
          .zoom-light .zoom-layout ul li a:hover {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .8s ease-out;
            -o-transition: all .8s ease-out;
            transition: all .8s ease-out;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1); }
          .zoom-light .zoom-layout ul li a img {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .8s ease-out;
            -o-transition: all .8s ease-out;
            transition: all .8s ease-out;
            width: 100%;
            height: 200px; }
            @media all and (min-width: 560px) {
              .zoom-light .zoom-layout ul li a img {
                height: 250px; } }
            @media all and (min-width: 768px) {
              .zoom-light .zoom-layout ul li a img {
                height: 250px; } }
            @media all and (min-width: 1260px) {
              .zoom-light .zoom-layout ul li a img {
                height: 350px; } }

.subscribe-form-block {
  display: none;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 99999;
  height: 100%;
  width: 100%;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  transition: all .8s ease-out;
  color: #fff; }
  .subscribe-form-block .subscribe-form-wrapper {
    /* padding:15px 15px 50px; */
    background: rgba(0, 0, 0, 0.95);
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 645px;
    margin-top: 10%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.6); }
    .subscribe-form-block .subscribe-form-wrapper .close {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      background: #000;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 25px;
      border: 2px solid #fff;
      cursor: pointer; }
      .subscribe-form-block .subscribe-form-wrapper .close:before {
        content: "";
        z-index: 99999999999;
        display: block;
        position: absolute;
        height: 40px;
        border-left: 2px solid #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 24px;
        top: 5px; }
      .subscribe-form-block .subscribe-form-wrapper .close:after {
        content: "";
        z-index: 99999999999;
        display: block;
        position: absolute;
        height: 40px;
        border-left: 2px solid #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 24px;
        top: 5px; }
    .subscribe-form-block .subscribe-form-wrapper .form-wrapper {
      padding: 80px 100px;
      font-family: arial;
      -webkit-font-smoothing: antialiased; }
      .subscribe-form-block .subscribe-form-wrapper .form-wrapper p {
        font-size: 18px;
        font-size: 1.8em;
        line-height: 21px; }
      .subscribe-form-block .subscribe-form-wrapper .form-wrapper form {
        margin: 0 auto; }
        .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-input {
          display: block;
          margin-bottom: 15px;
          width: 100%;
          padding: 5px;
          color: #a2a1a1;
          font-size: 13px;
          -moz-box-shadow: 0;
          -webkit-box-shadow: 0;
          box-shadow: 0;
          -webkit-text-stroke: 0.1px;
          -webkit-font-smoothing: antialiased; }
          @media all and (min-width: 420px) {
            .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-input {
              padding: 10px;
              font-size: 18px; } }
          .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-input:focus {
            outline: 2px solid #077d9b; }
          .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-input:last-of-type {
            margin-bottom: 20px; }
        .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-submit {
          -webkit-text-stroke: 0.1px;
          float: right;
          background-color: #000;
          border: 1px solid #fff;
          display: inline-block;
          cursor: pointer;
          color: #777777;
          font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
          font-size: 16px;
          color: #fff;
          padding: 5px 14px;
          text-decoration: none;
          outline: none;
          -moz-box-shadow: 0;
          -webkit-box-shadow: 0;
          box-shadow: 0; }
          @media all and (min-width: 420px) {
            .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-submit {
              padding: 6px 10px;
              margin-right: -24px; } }
          .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-submit:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000; }
          .subscribe-form-block .subscribe-form-wrapper .form-wrapper form .subscribe-submit:active {
            position: relative;
            top: 1px; }

::-webkit-input-placeholder {
  padding-left: 5px;
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #a2a1a1; }

:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 5px;
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #a2a1a1; }

::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 5px;
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #a2a1a1; }

:-ms-input-placeholder {
  padding-left: 5px;
  font-family: "rockwell", Courier, Georgia,Times, "Times New Roman", serif;
  color: #a2a1a1; }

.anystretch img {
  max-width: none; }
