/*
*************************************************

AmerisourceBergen
General Screen Styles

Created by the Greg Sarault via Bluecadet
www.bluecadet.com

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2af591");

  
@font-face {
	font-family: 'Rockwell-Condensed';
	src: url('../css/fonts/webfonts/2AF591_0_0.eot');
	src: url('../css/fonts/webfonts/2AF591_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_0_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'RockwellMT-BoldItalic';
	src: url('../css/fonts/webfonts/2AF591_1_0.eot');
	src: url('../css/fonts/webfonts/2AF591_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_1_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'Rockwell-ExtraBold';
	src: url('../css/fonts/webfonts/2AF591_2_0.eot');
	src: url('../css/fonts/webfonts/2AF591_2_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_2_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_2_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT-Bold';
	src: url('../css/fonts/webfonts/2AF591_3_0.eot');
	src: url('../css/fonts/webfonts/2AF591_3_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_3_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_3_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT';
	src: url('../css/fonts/webfonts/2AF591_4_0.eot');
	src: url('../css/fonts/webfonts/2AF591_4_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_4_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_4_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT-LightItalic';
	src: url('../css/fonts/webfonts/2AF591_5_0.eot');
	src: url('../css/fonts/webfonts/2AF591_5_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_5_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_5_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT-Light';
	src: url('../css/fonts/webfonts/2AF591_6_0.eot');
	src: url('../css/fonts/webfonts/2AF591_6_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_6_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_6_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT-CondensedBold';
	src: url('../css/fonts/webfonts/2AF591_7_0.eot');
	src: url('../css/fonts/webfonts/2AF591_7_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_7_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_7_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RockwellMT-Italic';
	src: url('../css/fonts/webfonts/2AF591_8_0.eot');
	src: url('../css/fonts/webfonts/2AF591_8_0.eot?#iefix') format('embedded-opentype'),
		 url('../css/fonts/webfonts/2AF591_8_0.woff') format('woff'),
		 url('../css/fonts/webfonts/2AF591_8_0.ttf') format('truetype');
}
 

/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; background:#000;}



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale;} /* for rems */
body { font-family: "RockwellMT", Courier, Georgia,Times, "Times New Roman", serif; color: #333; vertical-align: baseline;}


/* block level */

h1, .h1 { font: bold 3.8em Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 1.8em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3, .h3 { font: bold 1.5em Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

p, ul, dl, ol, table, strong, blockquote { font-size: 16px; margin: 0 0 1.5em; letter-spacing: 1px; }


ul { padding-left: 20px;}

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { 
	font-weight: bold;
	display: block;
	margin-bottom:8px; 
}

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; }
a:hover, a:focus {  }

img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

ol {
	padding-left:25px;
	li {
		margin-bottom: 5px;
	}
}
abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }



/*-------------------------------------------    
    Mixins
-------------------------------------------*/
@mixin transitions {
	-ms-transition: all .8s ease-out;
	-o-transition: all .8s ease-out;
  	-moz-transition: all .8s ease-out;
  	-webkit-transition: all .8s ease-out;
  	transition: all .8s ease-out;
}

/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.hide {
	display: none;
}
/*-------------------------------------------    
	Modules
-------------------------------------------*/

.moveup{
	@media all and (min-width: 420px) {
		-webkit-animation: moveUp .1s ease-out;
		-moz-animation: moveUp .1s ease-out both;
		-o-animation: moveUp .1s ease-out both;
		-ms-animation: moveUp .1s ease-out both;
		animation: moveUp .1s ease-out both;
	}
}
.scale-up {
	-webkit-animation: scaleUp 1s ease-out both;
	-moz-animation: scaleUp 1s ease-out both;
	-o-animation: scaleUp 1s ease-out both;
	-ms-animation: scaleUp 1s ease-out both;
	animation: scaleUp 1s ease-out both;
}
.scale-down {
	-webkit-animation: scaleDown 1s ease-in both;
	-moz-animation: scaleDown 1s ease-in both;
	-o-animation: scaleDown 1s ease-in both;
	-ms-animation: scaleDown 1s ease-in both;
	animation: scaleDown 1s ease-in both;
	-webkit-transition-delay: .5s !important;
	-moz-transition-delay: .5s !important;
	-o-transition-delay: .5s !important;
	-ms-transition-delay: .5s !important;
	transition-delay: .5s !important;
}


/*-------------------------------------------    
	Page
-------------------------------------------*/


.container {
	background: #000;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}


.sl-slide {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
	/* Landscape */
	@media screen and (orientation:landscape) {
	   -webkit-transform: rotate(7deg);
		-moz-transform: rotate(7deg);
		-o-transform: rotate(7deg);
		-ms-transform: rotate(7deg);
		transform: rotate(7deg);
	}
	.sl-content-wrapper {
		.sl-content {
			position: relative;
		}

	} 
	.content-wrapper {
		top:10%;
		left: 2%;
		height: 50%;
		overflow: hidden;
		position: relative;
		width: 75%;
		z-index: 1;
		-webkit-transform: rotate(-7deg);
		-moz-transform: rotate(-7deg);
		-o-transform: rotate(-7deg);
		-ms-transform: rotate(-7deg);
		transform: rotate(-7deg);
		@media all and (min-width: 420px) {
			top:9%;
			width: 70%;
			/* max-width: 680px; */
			max-width: 800px;
			height:40%;
		}
		@media all and (min-width: 768px) {
			width: 58%;
			top:12%;
			left:8%;
		}
		
		@media all and (min-width: 768px) and (orientation : landscape) {
			top:20%;
		}
		@media all and (max-width: 520px) and (orientation : landscape) and (max-height: 400px) {
			left: 4%;
			width: 75%;
			height:50%;
			overflow: auto;
		}
		@media all and (min-width: 768px) and (min-height: 400px) {
			height:55%;
		}
		@media only screen and (orientation : landscape) and (max-device-width : 480px) {
			//height: 150px;
		}
		/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
			height:auto;
		} */


		.button-wrapper{
			padding-left: 30px;
			padding-bottom: 45px;
			position: relative;	
			.content {
				text-align: left;
				position: relative;	
				h1 {
					text-align: left;
					font-family: "RockwellMT-Bold", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 1.9em;
					margin:0;
					-webkit-text-stroke: 0.1px;
					@media all and (min-width: 420px) {
						margin-bottom: 8px;
						font-size: 28px;
						font-size: 2.8em;
					}
					@media all and (min-width: 768px) {
						font-size: 36px;
						font-size: 3.6em;
					}
					@media all and (min-width: 960px) {
						line-height: 47px;
						font-size: 49px;
						font-size: 4.9em;
					}
				}
				p {
					font-family: "RockwellMT", Courier, Georgia,Times, "Times New Roman", serif;
					font-size: 16px;
					font-size: 1.6em;
					line-height: 16px;
					letter-spacing: 0;
					margin:0;
					margin-bottom: 10px;
					-webkit-text-stroke: 0.1px;
					@media all and (min-width: 420px) {
						margin-bottom: 18px;
						font-size: 18px;
						font-size: 1.8em;
						line-height: 20px;
					}
					@media all and (min-width: 768px) {
						font-size: 20px;
						font-size: 2em;
						line-height: 30px;
					}
				}
				.expand p {
					letter-spacing: 0;
					font-family:Arial, Helvetica, sans-serif;
					font-size: 15px;
					font-size: 1.5em;
					line-height: 17px;
					@media all and (min-width: 768px) {
						width: 90%;	
						font-size: 18px;
						font-size: 1.8em;
						line-height: 24px;
					}
				}
			}
			.footnote {
				font-style: italic;
			}
		}

	}
	.b-border {
		-webkit-transition: all .3s ease-out;
	  	-moz-transition: all .3s ease-out;
	  	-o-transition: all .3s ease-out;
	  	transition: all .3s ease-out;
		border-bottom: 1px solid #fff;
		top:10%;
		@media all and (min-width: 768px) {
			top:12%;
		}
	}
	.more {
		display:block;
		border-top: 1px solid #fff;
		width: 100%;
		a {
			display: inline-block;
			color:#fff;
			font-family: "RockwellMT", Courier, Georgia,Times, "Times New Roman", serif;
			font-weight: 400;
			font-size: 20px;
			font-size: 2em;
			&:after {
				content:"";
				position: absolute;
				display: block;
				background:transparent url(../images/circle-arrow-down.png)no-repeat 0 0;
				background-size: 100%;
				width:30px;
				height:30px;
				margin-left: 30px;
				margin-top: 5px;
			}	
		}
	}
	a.next {
		font-size: 18px;
		color:#fff;
	}
	.gate {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top:-8.5%;
		left:-8.5%;
		margin:0;
		padding:0;
		z-index: 1;
		overflow: hidden;
		
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		@media screen and (orientation:portrait) {
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
			width: 185%;
			left:-50%;
			top:-10%;
		}
		@media all and (min-width: 768px) {
			&:hover {
				/* img {
					-webkit-transform:rotate(-7deg) scale(1.01);
					-moz-transform: rotate(-7deg) scale(1.01);
					-o-transform: rotate(-7deg) scale(1.01);
					-ms-transform: rotate(-7deg) scale(1.01);
					transform: rotate(-7deg) scale(1.01);
				} */
				.top-gate-wrapper p, .bottom-gate-wrapper p {
					@include transitions;
					opacity: .85;
				}
			}
		}
		img {
			-webkit-transform: rotate(-7deg);
			-moz-transform: rotate(-7deg);
			-o-transform: rotate(-7deg);
			-ms-transform: rotate(-7deg);
			transform: rotate(-7deg); 
		}
		.top-gate-wrapper{
			position: relative;
			width: 100%;
			height: 50%;
			margin:0;
			padding:0;
			overflow: hidden;
			box-shadow: 0 0 0 0 transparent;
			border:0 solid transparent; 
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			cursor:pointer;
			@media all and (min-width: 420px) {
				width: 100%;
				margin-top: 0;
				margin-left: 0;
			}
			/* &:after {
				content:"";
				display: block;
				position: absolute;
				overflow: hidden;
				height:100%;
				width:100%;
				top:0;
				left:0;
			  	background: #000;
			  	opacity: .2;
			  	z-index: 1;
			} */
			.top-gate {
				width: 100%;
				height:auto;
				max-width: none;
				position: relative;

				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(83deg);
					-moz-transform: rotate(83deg);
					-o-transform: rotate(83deg);
					-ms-transform: rotate(83deg);
					transform: rotate(83deg);
					width: 100%;
					height:200%;
				}
			}
			p {
				@include transitions;
				position: absolute;
				font-size: 35px;
				color: white;
				margin:0;
				bottom: -15px;
				text-transform: uppercase;
				opacity: 0.75;
				display: block;
				width: 100%;
				text-align: center;
				font-family: "RockwellMT-Bold", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				z-index: 2;
				@media all and (min-width: 420px) {
					font-size: 50px;
					bottom:-23px;
				}
				@media all and (min-width: 560px) {
					font-size: 80px;
					bottom:-36px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					bottom:-41px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					bottom: -60px;
				}
			}
		}
		.bottom-gate-wrapper {
			position: relative;
			width:100%;
			margin:0;
			padding:0;
			overflow: hidden;
			box-shadow: 0 0 0 0 transparent;
			border:0 solid transparent; 
			cursor:pointer;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			@media all and (min-width: 420px) {
				margin-left: 0;
			}
			@media screen and (orientation:landscape) {
				height: 50%;
			} 
			&:after {
				content:"";
				display: block;
				position: absolute;
				overflow: hidden;
				height:100%;
				width:100%;
				top:0;
				left:0;
			  	background: #000;
			  	opacity: .2;
			  	z-index: 1;
			} 
			
			.bottom-gate {
				width: 100%;
				height: auto;
				max-width: none;
				position: relative;
				margin-top: -10%;	
				@media screen and (orientation:portrait) {
					-webkit-transform: rotate(83deg);
					-moz-transform: rotate(83deg);
					-o-transform: rotate(83deg);
					-ms-transform: rotate(83deg);
					transform: rotate(83deg);
					height: 100%;
					width: 100%;
					margin-top: -30%;

				} 
			}	
			p {
				@include transitions;
				position: absolute;
				font-size: 35px;
				color: white;
				top: -15px;
				margin:0;
				text-transform: uppercase;
				opacity: 0.75;
				display: block;
				width: 100%;
				text-align: center;
				
				-webkit-transform: rotateX(-180deg);
				-moz-transform: rotateX(-180deg);
				-ms-transform: rotateX(-180deg);
				transform: rotateX(-180deg);
				font-family: "RockwellMT-Bold", Courier, Georgia,Times, "Times New Roman", serif;
				font-weight: bold;
				z-index: 2;
				@media all and (min-width: 420px) {
					font-size: 50px;
					top:-23px;
				}
				@media all and (min-width: 560px) {
					font-size: 80px;
					top:-36px;
				}
				@media all and (min-width: 768px) {
					font-size: 90px;
					top:-41px;
				}
				@media all and (min-width: 1024px) {
					font-size: 130px;
					top:-59px;
				}
			}
		}
	}
}
blockquote {
	font-size: 18px;
	font-style: italic;
	width: 80%;
	padding-left: 30px;
	font-weight: bold;
	text-align: center;
}
cite {
	font-size: 85%;
	font-style: italic;
}
/*-------------------------------------------    
	IMAGES FOR EACH SLIDE
-------------------------------------------*/
.lt-ie9 {
	#horsepower-brainpower {
		background: url(../images/truck.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#hindsight-foresight {
		background: url(../images/tube.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#computers-compassion {
		background: url(../images/circut.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
#horsepower-brainpower {
	.content {
		h1, h2, h3, h4 {
			color:#81c2ff;
		}
		p, strong, a, li, blockquote, cite {
			color:#81c2ff;
		}
	}
	.gate .top-gate-wrapper .top-gate {
		top:-50%;
	}
	.gate .bottom-gate-wrapper {
		p {
			padding-left: 0.6%;
			letter-spacing: 2px;
		}
	}
}
#hindsight-foresight {
	.gate .top-gate-wrapper .top-gate {
		top:-30%;
		@media screen and (min-width: 1400px) {
			top:-50%;
		}
	}
	.gate .bottom-gate-wrapper {
		.bottom-gate {
			width: 160%;
			margin-top: -40%;
			margin-left: -35%;
			@media screen and (orientation:portrait) and (min-width: 768px) {
				width: 100%;
				margin-left: 0%;
				margin-top:-40%;
			}
			@media screen and (orientation:landscape) {
				width:100%;
				margin-top: -10%;
				margin-left: 0;
			}
		}
	}
	.sl-content {
	}
	.content {
		color:#445b0d;
		h1, h2, h3, h4 {
			color:#445b0d;
		}
		p, strong, a, li, blockquote, cite {
			color:#445b0d;
		}
	}
}
#computers-compassion {
	.gate .top-gate-wrapper .top-gate {
		@media all and (min-width: 768px) {
			margin-top:-40%;
		}
	}
	.gate .bottom-gate-wrapper {
		.bottom-gate {
			width: 150%;
			margin-left: -30%;
			@media all and (min-width: 768px) {
				width:100%;
				margin-left: 0;
				margin-top:-30%;
			}
		}
		p {
			padding-left: 0.8%;
			@media all and (min-width: 768px) {
				padding-left: 2%;
			}	
		}
	}
	.sl-content {
	}
	.content {
		h1, h2, h3, h4 {
			color:#cdfc94;
		}
		p, strong, a, li, blockquote, cite {
			color:#cdfc94;
		}
		
	}
}
#slice4 {
	.sl-content {
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}
#slice5 {
	.sl-content {
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
		li {
			color:#cdfc94;
		}
	}
}
#slice6 {
	.sl-content {
		/* &:after {
			content:"";
			display: block;
			position: absolute;
			overflow: hidden;
			height:100%;
			width:100%;
			top:0;
			left:0;
			/* fallback 
		  	background-color: transparent;
		  	background-repeat: repeat-x;
		  	/* Safari 4-5, Chrome 1-9 
		  	background: -webkit-gradient(linear, 0% 0%, 0% .9, from(#008BB0), to(#00746D));
		  	/* Safari 5.1, Chrome 10+ 
		  	background: -webkit-linear-gradient(top, #008BB0, #00746D);
		  	/* Firefox 3.6+ 
		  	background: -moz-linear-gradient(top, #008BB0, #00746D);
		  	/* IE 10 
		  	background: -ms-linear-gradient(top, #008BB0, #00746D);
		  	/* Opera 11.10+ 
		  	background: -o-linear-gradient(top, #008BB0, #00746D);
		  	opacity: .8;
		} */
	}
	.content {
		h1 {
			color:#cdfc94;
		}
		p {
			color:#cdfc94;
		}
	}
}




/*-------------------------------------------    
	Footer
-------------------------------------------*/
.footer {
	position: fixed;
	bottom:0;
	z-index: 9;
	width: 100%;
	.f-wrapper {
		overflow: hidden;
		background:#000;
		width: 80%;
		padding:3px 0 0;
		float: left;
		border-right: 2px solid transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@media all and (min-width: 768px) {
			width:86%;
			padding:15px 0;
		}
		@media all and (min-width: 1024px) {
			width: 92%;
		}
		.footer-logo {
			display: block;			
			float: left;
			img {
				margin:0;
				padding-left:10px;
				max-width: 140px;
				@media all and (min-width: 420px) {
					padding-left:50px; 	
				}
			}
		}
		.subscribe-block {
			float:right;
			background:transparent url(../images/mailer.png) no-repeat 0 0;
			cursor:pointer;
			width: 50px;
			height: 40px;
			position: relative;
			top: 5px;
			left:-10px;
			opacity: .8;
			padding: 0;
			&:hover {
				opacity: .9;
			}
		}
		
	}
	.cube {
		background: #000;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin:0;
		display: block;
		float:right;
		width: 20%;
		border-left: 2px solid transparent;
		position: relative;
		z-index: 99999999999999;
		@media all and (min-width: 768px) {
			width: 14%;
		}
		@media all and (min-width: 1024px) {
			width: 8%;
		}
		a {
			margin-right: 3px;
			background: url(../images/cube.png)no-repeat center center; 
			background-size: 62px;
			height: 43px;
			display: block;
			opacity: .5;
			@media all and (min-width: 768px) {
				height:70px;
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.subscribe-block {
	background:transparent url(../images/mailer.png) no-repeat 0 7px;
	cursor:pointer;
	position: relative;
	opacity: .8;
	padding-left: 60px;
	p strong {
		color:#fff !important;
	}
	&:hover {
		opacity: .9;
	}
}